[2015-12-16 20:21] wjwwood opened #6 "Setup code documentation generation"
Temporarily until we have a general solution, so that people can generate and browse the documentation we have so far on this package.

The other motivation for setting this up is to resolve issues like this one: https://github.com/ros2/rcl/pull/5#discussion_r46497258

[2015-12-19 01:09] wjwwood opened #8 "rcl has failing tests on Windows"
E.g.: http://ci.ros2.org/job/ci_windows/867/

[2016-01-04 17:12] firesurfer opened #13 "Error in stdatomic_helper.h while compiling with gcc version > 5"
I get the following error while compiling ROS2 with  gcc (Debian 5.3.1-4) 5.3.1 20151219

[code]

It compiles when I change line 23 in `stdatomic_helper.h` from

[code]

to

[code]

on my server with gcc (Debian 4.9.2-10) 4.9.2 it compiles without any errors.

[2016-01-05 01:19] wjwwood commented on #13
Interesting, thanks. I guess the evaluation of the conditional doesn't stop when `defined(__has_feature)` is false.

I suppose we can try something like this:

[code]

[2016-01-05 02:39] wjwwood commented on #13
@firesurfer if you have a chance, can you try the above and let me know if it works? I don't have a GCC 5 machine handy. If not I can set one up later.

[2016-01-05 09:36] firesurfer commented on #13
Hey,
if I change it to:
[code]
it compiles.

[2016-01-05 20:02] wjwwood commented on #13
I proposed this as a fix: https://github.com/ros2/rcl/pull/14

[2016-01-05 20:07] #13 closed

[2016-01-05 20:21] gerkey opened #15 "Unused variable warning when compiling in `RelWithDebInfo`"
The problem is that the variable is only referenced inside an `assert()`, which is presumably being compiled out under `RelWithDebInfo`.

[code]

[2016-01-05 20:56] wjwwood commented on #15
I'd just add a `(void)ret;` after each of those lines.

[2016-01-05 21:08] #8 closed

[2016-01-05 21:12] wjwwood commented on #15
I'm looking into a pr for this.

[2016-02-05 23:31] dirk-thomas commented on #15
Can this be closed?

[2016-02-12 08:22] tfoote opened #22 "rcl test failures when run with only opensplice on windows"
We're seeing some test failures on the windows build when connext and fastrtps are disabled.

They were first observed in #12 and #21 merge reviews and have been confirmed to be a bug in master: http://ci.ros2.org/job/ci_windows/1054/

The failures are in these tests.
TestNodeFixture.test_rcl_node_accessors
TestNodeFixture.test_rcl_node_life_cycle

In #21 @wjwwood has also observed it with connext

[2016-02-12 19:08] jacquelinekay commented on #22
error output from one of the failing tests:

[code]

[2016-02-12 19:15] tfoote commented on #22
@wjwwood and I looked into this some last night.

This test code block is special cased for windows and opensplice: https://github.com/ros2/rcl/blob/master/rcl/test/rcl/test_node.cpp#L72-L82

We believe that the 2nd failure is a fragility of the test that the first failure is not cleaning up and deiniting the node when it asserts and is calling `rcl_node_fini` since it's scoped cleanup is register

[2016-02-12 19:15] jacquelinekay commented on #22
ah, so it would be better to fini the node after the call to init that's expected to fail?

[2016-02-12 19:19] tfoote commented on #22
The problem is that it's hitting a gtest ASSERT incorrectly, and that's stopping the test, which prevents any following cleanup. If we fix the first one, it will fix the second one.

We can't really register the scoped fini earlier since the init has not yet been known to be completed. We could check the return value and store it locally, and register the cleanup before asserting. But it's probabl

[2016-02-17 01:13] tfoote commented on #22
This is resolved with #24 and ros2/rmw#54

[2016-02-17 01:13] #22 closed

[2016-02-17 17:15] gerkey commented on #15
Confirmed fixed when building `RelWithDebInfo` on Linux.

[2016-02-17 17:15] #15 closed

[2016-02-23 22:58] jacquelinekay opened #27 "Services"
Implement service/client API for rcl.

- C typesupport for services
  - [x] rosidl_generator_c and rosidl_typesupport_introspection_c ros2/rosidl#97
  - [x] rosidl_typesupport_opensplice_c ros2/rmw_opensplice#117
  - [x] rosidl_typesupport_connext_c ros2/rmw_connext#141
- [x] rmw: add service name to client and service structs ros2/rmw#56
- [x] rcl implementation and tests ros2/rcl#30

[2016-02-23 22:59] jacquelinekay opened #28 "Parameters"
Implement parameter API for C

[2016-02-29 19:48] jacquelinekay commented on #28
This ticket will probably take some more forethought and design than its prerequisite, services (#27).

- [ ] How much parameter support should live in rcl and how much should be implemented in `rclc`?
  - My suspicion is that parameter storage should primarily happen at the client library layer.
- [ ] How to implement parameter nodes vs non-parameter nodes?
  - In rclcpp, all nodes are parameter

[2016-03-24 23:56] #27 closed

[2016-04-02 01:15] jacquelinekay opened #42 "More tests"
Timers, more waitset test coverage, etc.

[2016-04-19 07:29] jacquelinekay opened #47 "Is documentation for reallocate consistent?"
https://github.com/ros2/rcl/blob/master/rcl/include/rcl/allocator.h#L45-L52

The comment for "reallocate" implies to me that if the field is left null, then a reallocate function will be constructed from "deallocate" and "allocate". I wasn't sure where in the implementation this actually happens though; it seems as if `realloc` will simply throw an error in this case.

https://github.com/ros2/rcl/

[2016-04-21 00:39] wjwwood commented on #47
This linked comment doesn't mention that realloc can be a null function. I think the meaning (of this comment) is that any function pointed to from here should do the realloc behavior if possible, but if not it should alloc and then dealloc if successful.

That needs `realloc` to be set, because it just wraps it and deallocates the input pointer even if the alloc fails, i.e. the behavior of `reall

[2016-04-21 00:43] jacquelinekay commented on #47
Maybe it was just wishful thinking on my part.

As a side note, since realloc is not provided in `std::allocator_traits`, I created realloc from dealloc and alloc in rclcpp. Unfortunately my approach didn't work on Windows (caused a segfault in every rclcpp test). I've thrown up my hands in despair and ifdef'd out custom allocators in Windows so that the use_rcl branch can get merged:

https://git

[2016-04-21 00:47] wjwwood commented on #47
Ok, well unless you think we should change it, can you close the issue?

[2016-04-21 00:48] #47 closed

[2016-04-26 00:42] jacquelinekay opened #50 "services test does not use RMW_IMPLEMENTATION"
https://github.com/ros2/rcl/blob/master/rcl/test/rcl/test_service.cpp#L31-Lundefined
The name of the services test fixture class should use the RMW_IMPLEMENTATION macro so that the report includes multiple rmw implementations, e.g.

https://github.com/ros2/rcl/blob/master/rcl/test/rcl/test_publisher.cpp#L28-L35

[2016-04-26 17:10] dirk-thomas commented on #50
The indistinguishable test reports: http://ci.ros2.org/view/nightly/job/nightly_linux_debug/lastCompletedBuild/testReport/(root)/TestServiceFixture/

[2016-04-26 18:07] dhood opened #52 "Linking errors for client_fixture and service_fixture tests"
The `service_fixture` and `client_fixture` tests are not linking properly on my machine. The rest work fine.

[code]

`-ldl` is in the linking output, but I think it might be something similar to [this issue](http://stackoverflow.com/questions/20131138/cmake-add-ldl-at-end-of-link-stage-of-add-library)
I'm on Trusty with gcc version 4.8.4. I think the buildfarm has 4.6.3.

I have seen that the `me

[2016-04-26 18:25] jacquelinekay commented on #52
https://github.com/ros2/rcl/blob/master/rcl/test/rcl_add_custom_executable.cmake#L41-Lundefined

It could be that the macro used the build these executables, `rcl_add_custom_executables`, does not link ` ${_ARG_APPEND_LIBRARY_DIRS}` to the executable, and the missing symbols are passed to the executable through memory tools, which is specified through that argument.

[2016-04-26 18:43] jacquelinekay commented on #52
I'm going to fix up various issues with the cmake infrastructure of rcl tests in an upcoming PR, I'll let you know when it's ready so you can test it locally.

[2016-04-26 22:13] dirk-thomas commented on #52
The build farm is using Trusty and therefore g++ 4.8. It should be exactly the same as you version locally.

Therefore I would guess that there must be a difference in:
* either what exactly code you compile (double check that everything is up-to-date and using the right branches)
* or how its build (try a clean build).

[2016-04-26 22:54] dhood commented on #52
I get this even after
[code]

Is this outdated? https://github.com/ros2/ros2/blob/ci_scripts/ros2_batch_job/linux_batch/__init__.py#L54 the jobs output that warning.

I did not install connext from debian packages. I'll try that.
Are they still available somewhere so I can update the broken links here https://github.com/ros2/ros2/wiki/Linux-Development-Setup#debian-packages-built-by-osrf (I grabbe

[2016-04-26 22:54] #50 closed

[2016-04-26 22:56] dhood commented on #52
had also done `vcs custom --args checkout master` by the way

[2016-04-26 23:07] dirk-thomas commented on #52
The latest release from RTI was built with that compiler version and they embed that into the shell file (since they build many different combinations).

There is no public Debian package available since we are not allowed to distribute the package we built for internal use.

[2016-04-27 00:07] dhood commented on #52
update: I changed from the official connext packages to the debian ones and now my linking errors are gone. the debian packages might be using different version of connext

And I will remove that section from wiki entirely since it doesn't sound like it should be there

[2016-04-27 00:08] dirk-thomas commented on #52
The wiki section makes sense for us since it describes what to install if you have access. Therefore I would propose to keep it - eventually improve the note.

[2016-04-27 00:10] dhood commented on #52
ah ok then I'll just explain that it's only for OSRF (assuming that link is still right? I can't access that repo but might just not have the privileges)

[2016-04-28 22:27] #52 closed

[2016-06-21 23:53] dhood opened #66 "Linking errors for tests when using connext"
Am having linking issues for at least the following tests:
- rmw_connext_dynamic_cpp
  - test_client
  - service_fixture
  - client_fixture
  - test_allocator
  - test_time
  - test_publisher
- rmw_connext_cpp
  - test_services
  - service_fixture
  - client_fixture
  - test_client

no issues for opensplice

the error is:
[code]

seems to be a problem with `rmw_connext_dynamic_cpp/lib/librmw_conne

[2016-06-21 23:56] dhood commented on #66
similar error but for `example_interfaces/lib/libexample_interfaces__rosidl_typesupport_connext_cpp.so`:

[code]

[2016-06-22 00:11] dhood commented on #66
for reference:
[code]

[2016-06-22 00:29] dirk-thomas commented on #66
The problem has already been addressed:
https://github.com/ros2/rmw_connext/pull/175 You might want to make sure
that you have the latest version of "everything". If you have branches you
might want to rebase them.

Cheers,
- Dirk

On Tue, Jun 21, 2016 at 5:11 PM, dhood <notifications@github.com> wrote:

[2016-06-22 00:39] dhood commented on #66
it's my first build on xenial; I'm using https://raw.githubusercontent.com/ros2/ros2/master/ros2.repos, so should have everything up-to-date

I noticed that commit, but in my case it seems like it might be causing the problem? if I revert back to its parent the build runs fine for me. gcc 5.3.1

[2016-06-22 00:44] dhood commented on #66
I got connext 5.2.3 off the RTI website

[2016-06-22 00:47] dirk-thomas commented on #66
I have only tried the self-built Debian package as well as the evaluation version of Connext we have at OSRF. But the CMake code tests the library ABI and should choose the right one. I assume for the package from the website you should see this message: https://github.com/ros2/rmw_connext/pull/175/files#diff-f72dd578a73ca38cf3b97780449b385cR320

[2016-06-22 01:05] dhood commented on #66
hmm I don't see that message - I end up in the else statement (that I added) for some reason. I'll see if I can figure it out.

[2016-06-22 18:38] dhood commented on #66
I think I've figured out the cause - could I get your opinion on the appropriate fix @dirk-thomas

The `try_compile` is failing, but not because of `#define _GLIBCXX_USE_CXX11_ABI 0`.

Instead, it's failing for two reasons:

1. when [these variables](https://github.com/ros2/rmw_connext/blob/fa67e1b59a8bdaceca1d2dc9bcc1db840b65c45a/connext_cmake_module/cmake/Modules/FindConnext.cmake#L247) are put

[2016-06-22 19:03] dirk-thomas commented on #66
The current content of the variable `Connext_DEFINITIONS` is being used with `target_compile_definitions` which does not expect a leading `-D` before the preprocessor definitions. Therefore changing it to include the prefix is not a good idea imo.

Instead the try-compile-cmake file should use `target_compile_definitions` instead of `add_definitions`. Please try if the patch from ros2/rmw_connext#

[2016-06-22 21:44] dhood commented on #66
ok https://github.com/ros2/rmw_connext/pull/177 and https://github.com/ros2/rmw_connext/pull/178 together fix this, thanks

[2016-06-22 23:00] #66 closed

[2016-08-20 12:17] firesurfer opened #70 "How to obtain rmw_message_info_t ?"
I'm currently trying to create a C# wrapper for ROS2 based on the rcl lib.
At the moment I'm kind of stuck at the following function
[code]

How can I obtain the `rmw_message_info_t` of a given message from which I've already got the `rosidl_message_type_support_t` ?

[2016-08-20 14:17] firesurfer commented on #70
This can be closed. I understood the comment wrong. Apparently the message_info is filled by the rcl_take function

[2016-08-20 14:17] #70 closed

[2016-08-21 19:51] firesurfer opened #71 "Wrong return number in types.h"
I read some code for my C# wrapper and found these lines in the rcl types.h:

[code]

Shouldn't be  `#define RCL_RET_SUBSCRIPTION_TAKE_FAILED 501` defined to 401 instead of 501 ?

[2016-08-22 16:12] dirk-thomas commented on #71
That looks indeed like a copy-n-paste error. Can you please create a PR to address it?

[2016-08-22 18:27] dirk-thomas commented on #71
Fixed by #72.

[2016-08-22 18:27] #71 closed

[2016-08-23 12:52] firesurfer opened #73 "rcl_take - documentation doesn't match with code"
The documentation to the `rcl_take` function states that there should be a:

But the he function itself has only a declaration with 3 arguments:

[code]

[2016-08-24 18:24] wjwwood commented on #73
Thanks for the report. I believe this is a documentation error, as the return code `RCL_RET_SUBSCRIPTION_TAKE_FAILED` should cover the case where you ask to take from a subscription that has no messages to give.

This pr should address it: https://github.com/ros2/rcl/pull/74

[2016-08-25 14:59] firesurfer opened #77 "rcl/rosidl arrays - need some help understanding"
I'm currently trying to implement arrays in my .net wrapper. At the moment I'm running into some problems. Let's take an int8 array for example:

On C side the struct for the array contains three entries:
[code]

As far as I understand the initialization code for the arrays I have to insert a pointer into the data field, and insert the amount of array elements into the size field. The capacity fie

[2016-08-25 15:15] dirk-thomas commented on #77
It looks like the primitive array struct lacks the necessary documentation. Please take a look at the similar struct for strings (https://github.com/ros2/rosidl/blob/8f507b9a656eea1a7ed196b34d7fa5bd1311052e/rosidl_generator_c/include/rosidl_generator_c/string.h#L23-L30). The `capacity` contains the actually allocated size of `data`. `Size` contains the number of valid entries in the array.

In the

[2016-08-26 10:43] firesurfer commented on #77
Perhaps I got another bug. Perhaps I'm using the function the wrong way.

I got the following struct:
[code]
As described above I'm using .net P/Invoke on the rcl_publish function to publish this struct from C#.
I got a subscription in a c++ client running that simply prints out all values of the message. All the primitive members and the strings are working fine, but the array is making troubles.

[2016-08-26 20:34] wjwwood commented on #77
How big are you making the array? It may be that the current rmw implementation for FastRTPS doesn't support messages that are that large. We're actively working on that here:

https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/51

You can try to see if that is the issue by making the arrays smaller or by trying Connext or OpenSplice with your example.

[2016-08-31 09:39] firesurfer commented on #77
Sorry for the late answer. I had some trouble with the email notifications.

I tested my wrapper with an `int8_t` array with 1,2 and 3 elements. This should'nt be to large. Publishing the same message from C++ over FastRTPS works.

[2016-08-31 15:08] dirk-thomas commented on #77
Without more information it is hard to suggest anything specific. Maybe try to break in the beginning of the serialization code to check what exact data it is trying to serialize (https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/e336a8b0f93c8179cc2b4a62d02272403ed356bb/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSupport_impl.h#L309-L472). That might help in narrowing down where the problem

[2016-08-31 17:05] firesurfer commented on #77
I think I found the problem. I think it's located in the message deserialisation:
I put a debug output to:  https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/blob/e336a8b0f93c8179cc2b4a62d02272403ed356bb/rmw_fastrtps_cpp/include/rmw_fastrtps_cpp/TypeSupport_impl.h#L497
which prints out `printf("Size: %u \n", member->array_size_);`.In my case this array_size is 0. This shouldn't be a problem becaus

[2016-08-31 17:15] dirk-thomas commented on #77
@richiprosima It looks like the mentioned case is missing for the C type support. Can you please suggest a fix for this or create a PR.

[2016-08-31 17:32] esteve commented on #77
This should already be addressed in #45

On Aug 31, 2016 18:15, "Dirk Thomas" <notifications@github.com> wrote:

[2016-08-31 17:34] esteve commented on #77
Sorry, I meant https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/45

On Aug 31, 2016 18:32, "Esteve Fernandez" <esteve@apache.org> wrote:

[2016-08-31 17:43] dirk-thomas commented on #77
@esteve It looks like the referenced PR needs to be rebased and has one pending comment. Once it is mergable again I can trigger new CI builds for it.

[2016-08-31 18:04] esteve commented on #77
I responded to your comment regarding `printf` in
https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/45#issuecomment-230720158

Though I agree with you about removing the `printf` calls, I also want to
be consistent with what seems to be eProsima's codestyle guidelines.
@richiprosima, are you ok with removing the `printf` calls when catching an
exception? Do you have codestyle guidelines about

[2016-09-01 06:12] richiprosima commented on #77
Go on removing `printf`. It is not about codestyle. Surely I forgot to remove it.

[2016-09-02 13:30] firesurfer opened #78 "rcl_send_response can return a RCL_RET_CLIENT_INVALID?"
According to the documentation the `rcl_send_response` function can return a RCL_RET_CLIENT_INVALID.

[code]

Shouldn't this be a RCL_RET_SERVICE_INVALID ?

[2016-09-02 16:01] dirk-thomas commented on #78
Yes, it looks like a copy-n-paste error. Can you please create a PR with the proposed change.

But the current implementations never return this code anyway. @wjwwood ?

[2016-09-02 17:58] wjwwood commented on #78
Definitely a copy-paste bug. That return code is reserved for checking if the service is valid or not. In the publisher code, an equivalent return code is returned if the argument is null, but perhaps that's not the best idea, and should instead return `RCL_RET_INVALID_ARGUMENT` as the implementation of this function does. When I think of an "invalid service" I mean:

- rcl_shutdown has been calle

[2016-09-06 13:42] firesurfer commented on #78
@dirk-thomas  Then I'm going to create a PR that corrects the documentation from `RCL_RET_CLIENT_INVALID`
to `RCL_RET_SERVICE_INVALID` ?

@wjwwood
I would expect this error in case the passed service is invalid (is this even possible to determine?). In case the node is invalid or rcl_shutdown has been called I would return the corresponding value. E.g in case the node is invalid I would expect the

[2016-09-06 16:42] wjwwood commented on #78
You're right that the node being invalid might be the first concern, but since this this function doesn't take a node as an argument (it is probably held internally by the service) then I think the `RCL_RET_SERVICE_INVALID` is the right return code here. Currently, there is no additional state for the service object that needs to be checked for it to be valid, other than the node, but that might c

[2016-09-16 12:08] firesurfer commented on #78
I created a PR #80  that simply removes the documentation entry. I didn't add the RCL_RET_SERVICE_INVALID return type because I think there's currently no possible check in the function where this return value might be reasonable.

But I would recommend to keep this issue open because of the things wjwwood said in his last post.

[2016-09-16 22:32] #73 closed

[2016-09-22 22:30] wjwwood commented on #78
@firesurfer actually can you open a new issue for whatever you think needs to be tracked. From my perspective, this can be closed once #80 replaces `CLIENT` with `SERVICE` in the documentation, but if you see other issues we can track/discuss those too.

[2016-09-23 20:02] firesurfer opened #81 "Implement rcl_x_is_valid methods"
In order to track what was discussed in #78 I open this issue tracker.

@wjwwood  suggested that in the future it might become necessary/useful to implement functions in the style `rcl_x_is_valid` .

An example would be:  `bool rcl_service_is_valid(rcl_service_t * service)` which would check if this service is valid. (Perhaps check if it's not null, check if it was initialized, and so on)

[2016-09-23 22:36] wjwwood commented on #81
Thanks!

[2016-09-24 17:23] firesurfer opened #82 "Reasons intra/interprocess message transport isn't implemented transparent in rcl"
After having a look at the implementation of the rclcpp I was wondering why there are special mechanisms implemented in the rclcpp for interprocess message transport and intraprocess message transport (there's an extra intra_process_manager)?  Wouldn't it be more convenient to have these mechanism transparently implemented in the rcl? By transparent I mean: The client lib on top of the rcl doesn't

[2016-09-24 22:12] wjwwood commented on #82
One reason is historical, we wanted to prototype intra-process communications before `rcl` was in place. At that time `rclcpp` called to `rmw` directly.

Another reason is that the intra-process communication makes heavy use of smart pointer semantics to help manage ownership of data. While it's not impossible to do this in C, it would be a bit more complicated.

Finally, if we move intra-process

[2016-09-24 22:17] wjwwood commented on #82
Also, the intra-process communications have to deal with multi-threading concerns, and up till now we've managed to avoid using threads or thread synchronization primitives in `rcl`, preferring to leave those things up to the client library implementations since each language has it's own mechanisms for dealing with that.

[2016-09-26 14:29] gbiggs commented on #82
It does sound like the use case for multi-language intra-process communication is too small to justify the complexity it would introduce.

[2016-10-27 07:24] firesurfer commented on #77
I think this can be closed because it was addressed in: https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/pull/45

[2016-10-27 07:24] #77 closed

[2016-11-17 01:05] #78 closed

[2016-12-19 21:14] dirk-thomas opened #100 "calling shutdown fails in examples_rclpy"
When running `examples_rclpy_minimal_service` and `examples_rclpy_minimal_client_async` with Connext the second one fails with the following error message after handling the response properly:

[code]

In that case the code tries to destroy the rcl client but the rcl node handle already has a mismatch with the underlying rmw node id since the Python code has called `shutdown` (https://github.com/r

[2016-12-23 17:24] allenh1 commented on #81
@tfoote Is this the kind of thing I could work on?

[2016-12-23 23:35] tfoote commented on #81
Yeah, We've tagged several issues ["help wanted"](https://waffle.io/ros2/ros2?search=help%20wanted) or also "unclaimed"](https://waffle.io/ros2/ros2?search=unclaimed) that you could look into.

There are many more, but we tried to pick out some good places for people to get involved.

[2016-12-24 03:15] allenh1 commented on #81
We'll I'll start implementing this, then!

[2016-12-26 21:12] allenh1 commented on #81
For now, I'm putting these in the `rcl.h` header -- is this appropriate?

[2016-12-26 21:21] allenh1 commented on #81
Actually, after further investigation, I'm now thinking they should be implemented in several different header files (`bool rcl_service_is_valid(rcl_service_t * service)` should be in `service.h`, and similar).

Alternatively, I suppose I could put them in a `check.h` header, but I'll implement them in the above fashion in the meantime.

[2016-12-27 01:51] wjwwood commented on #81
Putting them in the same header with the type you're checking seems appropriate to me.

[2017-03-06 20:46] wjwwood opened #110 "reconsider use of CLOCK_MONOTONIC_RAW"
See: https://github.com/ros/roscpp_core/pull/55#discussion_r104209834

[2017-03-29 01:59] Karsten1987 opened #111 "shift custom allocator struct to c_utilities"
I believe it comes in handy to outsource the allocator into `c_utilities` for not duplicating structs.

[2017-03-30 01:02] wjwwood commented on #111
That sounds fine to me.

[2017-04-12 09:34] wjwwood opened #119 "replace rcl_impl_getenv with getenv from rcutils"
See: https://github.com/ros2/rcl/blob/66208db876bba344a6733f4aa33451a028085612/rcl/src/rcl/common.c#L30

connects to ros2/rcutils#30

[2017-04-13 00:13] wjwwood opened #121 "signatures in some time functions do not match rest of rcl"
For example, `rcl_init_time_source`:

https://github.com/ros2/rcl/blob/93ad1ae4fd05f9952db706f645e610ee377ebb37/rcl/include/rcl/time.h#L118

Should probably be `rcl_time_source_init`, as it is for `rcl_node_init` and `rcl_publisher_init` and so on.

[2017-04-13 00:52] wjwwood commented on #121
Also, many of the time functions call out to allocator functions directly like `calloc`:

https://github.com/ros2/rcl/blob/93ad1ae4fd05f9952db706f645e610ee377ebb37/rcl/src/rcl/time.c#L135

They should instead get passed an allocator (perhaps optionally) and use that to allocate memory.

[2017-04-13 23:48] kenny-y opened #123 "Obsolete API/header found in document"
in `publisher.h', the embedded API document describes below usage, which is obsolete:

[code]

The correction might be:

[code]

Some of them occur multiple times, e.g. the obsolete header is x3.

[2017-04-17 07:46] wjwwood commented on #123
Based on this: https://github.com/ros2/rosidl/blob/ef23dbf8e07af2381757829cacf9be97173acba6/rosidl_generator_c/include/rosidl_generator_c/message_type_support_struct.h#L26

That sounds right. Can you open a pull request to fix this? I'd like to get you some attribution for the fixup 😄. Otherwise I'll pick it up later.

[2017-04-18 22:36] Karsten1987 opened #126 "use concatenate function of c_utilities"
see here: https://github.com/ros2/rcl/blob/b1a30f0ecd1414846c9d05421de3ff3f283c20ad/rcl_lifecycle/src/com_interface.c#L36

discourse issue:
https://discourse.ros.org/t/ros2-lifecyclenode-memory-corruption-issues/1666

[2017-04-18 22:37] Karsten1987 opened #127 "use rcutils allocator"
rcl_lifecycle currently uses malloc and free natively. This should be changed to the allocators in rcutils.

[2017-04-18 23:29] Karsten1987 opened #128 "use namespacing for lifecycle"
connects to ros2/rcl#142

[2017-04-19 19:52] Karsten1987 commented on #111
closed in https://github.com/ros2/c_utilities/pull/16

[2017-04-19 19:52] #111 closed

[2017-04-19 23:50] #126 closed

[2017-05-01 15:39] mikaelarguedas commented on #121
Should this be put back in ready ? or closed in favor of a new issue with the remaining action item?

[2017-05-03 01:39] wjwwood opened #134 "use allocator in rcl time related functions"
Some of the time functions call out to allocator functions directly like calloc:

https://github.com/ros2/rcl/blob/93ad1ae4fd05f9952db706f645e610ee377ebb37/rcl/src/rcl/time.c#L135

They should instead get passed an allocator (perhaps optionally) and use that to allocate memory.

Possibly the allocator structure should be extended to have calloc, so that the OS calloc can be used rather than emulat

[2017-05-03 01:39] wjwwood commented on #121
Closed and rest of work put into https://github.com/ros2/rcl/issues/134.

[2017-05-03 01:39] #121 closed

[2017-05-10 18:40] mikaelarguedas commented on #127
@Karsten1987 to link to other issue / close if needed

[2017-05-12 00:26] #123 closed

[2017-06-16 21:45] #127 closed

[2017-06-16 22:03] #128 closed

[2017-06-17 01:06] wjwwood opened #145 "add tests for rcl_get_service_names_and_types()"
Left over from: https://github.com/ros2/ros2/issues/361

[2017-06-17 01:08] wjwwood opened #146 "add test for no_demangle option of rcl_get_topic_names_and_types()"
Left over from: ros2/ros2#361

I'm not exactly sure how to do this one, since you'd need to know how the underlying middleware is different from normal topics.

For example, with our current middlewares, a topic like `/foo` might become `rt/foo`, but that might not be the case for some other middleware.

[2017-06-22 07:25] allenh1 commented on #119
I'll get on this unless someone else wants it

[2017-06-22 07:31] mikaelarguedas commented on #119
We need to first change the implementation of getenv in rcutils to be thread safe or at least use thread local storage. So I think that we should discussed the refactor as a group rather than starting working on it right away. Ideally we will assign new tasks to everybody just after the release. In the meantime is it ok if you focus on the ones that are already assigned to you?

[2017-06-22 07:33] allenh1 commented on #119
Yup -- sorry. Still getting used to how this works.

[2017-06-22 07:41] mikaelarguedas commented on #119
No worries, actually that's my bad for not updating this issue when I realized that the underlying implementation needed to be modified as well

[2017-06-22 14:34] mikaelarguedas commented on #119
need to discuss how we want to modify the implementation of `rcutils_get_env` before performing the refactor in rcl and in [rmw](https://github.com/ros2/rcl/pull/97) (see https://github.com/ros2/rcl/pull/125#discussion_r119451378)

[2017-07-18 20:24] #81 closed

[2017-07-18 20:29] wjwwood opened #150 "add tests for rcl_*_is_valid() functions"
Follow up to https://github.com/ros2/rcl/pull/103.

[2017-07-26 18:29] mikaelarguedas commented on #150
@allenh1 do you think you will work on this in the near future ?

[2017-07-26 18:34] allenh1 commented on #150
I certainly could, if needed.

[2017-07-26 19:39] mikaelarguedas commented on #150
It looks like you committed to it in https://github.com/ros2/rcl/pull/103#issuecomment-310299057 so it would be great if you can follow up on it :+1: . Otherwise it should be assigned to someone else. The overall goal being to decrease the amount of untested code rather than increasing it

[2017-07-26 20:26] allenh1 commented on #150
Ok, then. I'll go ahead and assign myself to this one.

[2017-08-02 21:56] Karsten1987 opened #154 "rcl time uses native calloc"
found here: https://github.com/ros2/rcl/blob/master/rcl/src/rcl/time.c#L135 and a couple of times later. The functions should provide support for custom allocators.

[2017-08-04 14:50] clalancette commented on #6
@wjwwood Should we leave this open?  Sorry, I'm not sure exactly what this ticket is referring to.

[2017-08-04 14:51] clalancette commented on #28
It looks like #54 is connected into this, and that this is a larger story.  Going to label this as enhancement.

[2017-08-04 14:53] clalancette commented on #82
@wjwwood @firesurfer Given this (old) discussion, should we close this ticket out?

[2017-08-04 14:56] firesurfer commented on #82
From my point of view it is still up to date because I still think it would be very useful for other language bindings, but regarding the extra work this would cause I think it's okey to close this ticket.

[2017-08-04 14:57] #82 closed

[2017-08-04 15:09] clalancette commented on #100
Looking at the recent nightly builds, I believe this particular error has been fixed.  There are some other instances of "error string is being overwritten", but I am going to close this out and open new issues about those.

[2017-08-04 15:09] #100 closed

[2017-08-04 15:11] clalancette opened #155 "Error message is being overwritten in rcl_lifecycle tests"
If you look at one of the [recent](http://ci.ros2.org/view/nightly/job/nightly_linux_repeated/736/consoleFull) nightly tests, and look for "is being overwritten", you can see that the tests for rcl_lifecycle are causing an error message to be lost.  We should probably fix this so that the first error causes the whole thing to return the error message, and not get lost later on.

[2017-08-04 15:15] clalancette commented on #110
The clock stuff got moved out to rcutils, so I'm going to close this issue and open a new one there.

[2017-08-04 15:15] #110 closed

[2017-08-04 15:24] clalancette commented on #134
This is just me trying to understand, but what is the main purpose of having a custom allocator (here and elsewhere in the ROS2 codebase)?

[2017-08-04 15:26] clalancette commented on #154
This is actually a dup of #134 , closing in favor of that one.

[2017-08-04 15:26] #154 closed

[2017-08-04 15:28] Karsten1987 commented on #134
the basic idea of it is to have a custom allocator strategy other than the inbuilt malloc and free. TLSF is one of such an allocator which has "better" strategies for allocating memory in a predefined pool of memory and thus is more suitable for real time critical apps. You'll often see that as well for STL containers: http://en.cppreference.com/w/cpp/container/vector

does that help?

[2017-08-04 15:29] mikaelarguedas commented on #134
The main reason is that according to the use case (very often realtime or memory constrained environment) a user may not want to use malloc but another strategy to allocate memory.

More information can be found on the design documents:
http://design.ros2.org/articles/realtime_background.html
http://design.ros2.org/articles/realtime_proposal.html

[2017-08-04 15:29] Karsten1987 commented on #154
sorry, just noticed it.

[2017-08-04 15:30] clalancette commented on #154
No worries :).

[2017-08-04 15:43] clalancette commented on #134
Makes sense.  Typically I think about using the LD_PRELOAD trick to replace malloc/free, but this plumbing is a more elegant solution.  Thanks.

[2017-08-04 16:22] dirk-thomas commented on #100
Please reference these new tickets here otherwise it is unclear where they are. Also consider spending time on resolving them during this sprint.

[2017-08-04 17:27] clalancette commented on #100
I'm not sure I agree; the new issue doesn't really have anything to do with this one.  But it's #155 , for reference.

[2017-08-04 18:20] mikaelarguedas commented on #119
status and implementation strategies are reported on the parent issue https://github.com/ros2/rcutils/issues/30

[2017-08-07 05:23] wjwwood commented on #134
@clalancette That's right, we've used the `LD_PRELOAD` trick before to try things like counting the malloc calls or to use tlsf, but this approach (while more verbose) has the advantage of portability (doing these tricks differs on macOS as well as Windows) and being easier to test things. Since the allocator is injected into the function we can easily setup a failing allocator for just one part o

[2017-08-07 06:00] wjwwood commented on #6
This is a task to generate the API documentation for this package, which we've since done, at least in a temporary fashion:

http://docs.ros2.org/beta2/api/rcl/index.html

[2017-08-07 06:00] #6 closed

[2017-08-11 22:14] #155 closed

[2017-08-31 20:35] dirk-thomas opened #162 "rcl_init called multiple times"
_From @BrannonKing on March 30, 2017 15:50_

I'm getting the error below when attempting to use rmw_opensplice in the current (Mar 29) codebase. I'm running a Gazebo simulation. I'm guessing that Gazebo loads all the plugins into the same process, which causes this error. It seems I can eat the error and still run fine. I just wondered if we should track the initialization state in the RMW.

[code

[2017-08-31 20:35] dirk-thomas commented on #162
_From @BrannonKing on August 31, 2017 20:16_

I suppose catching the exception in Gazebo is fine. I just wanted the logging removed (since it already throws an exception). BTW, this should move to rcl; it's logged in the wrong spot.

[2017-08-31 20:36] dirk-thomas commented on #162
@BrannonKing Can you please provide more information about how the API is being used and if possible how to reproduce the problem.

[2017-08-31 23:17] BrannonKing commented on #162
I start up multiple Gazebo plugins. Each one has to call rclcpp::init because you don't know which plugin will start first. They all run in the same process, but init prints a message and throws an error about having been called already for every subsequent plugin. I can eat the exception but can't hide the message.

[2017-08-31 23:24] wjwwood commented on #162
You could just ignore the ones that fail to init for this particular reason (assuming that some other code managed to init first). However we should make sure `rclcpp::init` is thread-safe. `rcl_init` is not:

https://github.com/ros2/rcl/blob/master/rcl/include/rcl/rcl.h#L108

[2017-08-31 23:26] dirk-thomas commented on #162
I think that is what he is trying to do but the calls which throw also print an error message which he currently can't avoid. I will come up with a PR to fix this...

[2017-08-31 23:28] wjwwood commented on #162
The rcl error just needs to be cleared here: https://github.com/ros2/rclcpp/blob/master/rclcpp/src/rclcpp/utilities.cpp#L168

@dirk-thomas I'll let you do that since you already said you were working on it.

But we should also make sure it is thread-safe, because right now it is not I think.

[2017-08-31 23:42] dirk-thomas commented on #162
Indeed: ros2/rclcpp#366

[2017-08-31 23:44] #162 closed

[2017-08-31 23:47] wjwwood commented on #162
I'll just reiterate that `rclcpp::init()` is not thread-safe. So we either could use a pr to make it so, or @BrannonKing you should take care to protect it in your code.

[2017-09-01 00:15] BrannonKing commented on #162
I'm quite certain that Gazebo does not load its plugins in parallel. I don't think that multithreaded access will be an issue there.

[2017-09-06 17:46] mikaelarguedas commented on #150
@allenh1 friendly ping

[2017-09-06 17:55] allenh1 commented on #150
@mikaelarguedas ping received

[2017-10-26 23:57] #150 closed

[2017-11-21 19:36] mikaelarguedas opened #188 "test timer are still flaky"
After https://github.com/ros2/rcutils/pull/73 and successfull repeated build it appeared that the timer tests were not flaky on windows.

Recently they came back flaky on some CI jobs:
master as of 11/20/2017 with `--retest-until-fail 20`: http://ci.ros2.org/job/ci_windows/3672/

We may need to revert https://github.com/ros2/rcl/pull/165 if we dont find a proper windows fix.
See https://github.com

[2017-12-06 06:57] Karsten1987 opened #199 "rcl_lifecycle_*_fini function shall not deallocate the object"
Currently the fini functions do also deallocate the object of the pointer passed in. This doesn't work with objects created on the stack.
This is a follow up for https://github.com/ros2/rclcpp/pull/419#discussion_r155157098

[2017-12-06 17:07] Karsten1987 commented on #199
CI:

[![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_windows&build=3850)](http://ci.ros2.org/job/ci_windows/3850/)
[![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=3095)](http://ci.ros2.org/job/ci_osx/3095/)
[![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=3758)](http://ci.ros2.org/job/ci_linux/3758/)

[2017-12-07 01:27] Karsten1987 commented on #199
closed via #200 and ros2/rclcpp#424

[2017-12-07 01:27] #199 closed

[2017-12-28 03:11] kenny-y opened #204 "rcl_difference_times() function 32 bit overflow"
`rcl_difference_times()` function can't process time diff > 2^31

## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - Ardent Apalone
- Version or commit hash:
  - NA
- DDS implementation:
  - Default
- Client library (if applicable):
  - rcl

#### Steps to reproduce issue
This test case would pass
[code]

This test case would fail
[code]

#### Expected

[2017-12-28 18:02] wjwwood commented on #204
Thanks for pointing it out @kenny-y. A pr with a test for this and a fix would be greatly appreciated. Otherwise we'll get to it as soon as we have time.

[2017-12-29 06:04] kenny-y commented on #204
I'll see what I can do after the new year vacation.

[2018-03-01 18:25] wjwwood commented on #42
I'm going to close this in favor of more specific issues. Since this was opened, we do have timer tests and there are some new waitset coverage.

[2018-03-01 18:25] #42 closed

[2018-03-15 01:12] wjwwood opened #219 "handling of command line arguments"
In ROS 1, command line arguments specific to ROS were removed, see:

-- https://wiki.ros.org/roscpp/Overview/Initialization%20and%20Shutdown#Initializing_the_roscpp_Node

And the signature for `roscpp::init()` uses `int & argc, char ** argv`, allowing it technically to modify what ever C array of strings you give it. This is permissible according to my research, e.g.:

-- http://en.cppreference.co

[2018-03-26 23:50] #204 closed

[2018-03-27 22:07] #219 closed

[2018-04-18 16:34] mikaelarguedas opened #228 "rcl should use test_msgs instead of example_interfaces"
As example_interfaces are used only for examples and demo and their removal / modification should not impact the test or release of rcl

[2018-04-23 14:58] mjcarroll commented on #228
In the cases where a service is used (AddTwoInts), did you want to replace it with an empty service or add a new service to the `test_msgs` package?

[2018-04-23 15:09] mikaelarguedas commented on #228
I was thinking of merging https://github.com/ros2/rcl_interfaces/pull/25 that adds a pretty comprehensive set of services

[2018-05-02 23:02] sloretz opened #232 "Static Remapping Single Token Wildcard `*`"
## Feature request

#### Feature description
Implement single token wildcard `*` for static remapping from command line arguments.
Implementing requires changing `rcl_remap_t` to store information about wildcards.
It also requires changing the matching logic to allow matching any token instead of doing a direct string comparison.

#### Implementation considerations
Behavior of `*` is described in

[2018-05-02 23:02] sloretz opened #233 "Static Remapping Multi Token Wildcard `**`"
## Feature request

#### Feature description
Implement multi token wildcard `**` for static remapping from command line arguments.
Implementing requires changing `rcl_remap_t` to store information about wildcards.
It also requires changing the matching logic to allow backtracking.
This is blocked by ros2/design#173

#### Implementation considerations
Behavior of `**` is described in [the remapping

[2018-05-02 23:03] sloretz opened #234 "Static Remapping backreferences `\1` - `\9`"
## Feature request

#### Feature description
Implement references `\1` - `\9` for static remapping from command line arguments.
Implementing requires changing matching and replacement logic to store and use tokens that were captured by a wildcard.
This is blocked by having support for wild cards on the match side (ros2/rcl#232 or ros2/rcl#233).

#### Implementation considerations
Behavior of `\1`

[2018-05-29 16:13] mikaelarguedas opened #242 "[YAML parser] Support bytes type"
This is a follow-up of #235

The parser from #235 doesn't parse byte types, mainly because there is no native type in the yaml specification matching this.
TODO:
- decide what type and tags use to map ROS bytes
- extend the parser to implement it

[2018-05-29 16:25] mikaelarguedas opened #243 "[YAML parser] Improve print function"
follow-up of https://github.com/ros2/rcl/pull/235#discussion_r189149818

The public `rcl_yaml_node_struct_print` prints a single type of structures and doesn't allow to chose the destination of the print.

We should provide utilities to provide a pretty string representation of the structure that could then easily be printed to:
- string
- stream
- topic
...

[2018-05-29 16:52] mikaelarguedas opened #244 "[YAML parser] Configurable maximum values during parsing"
This set of maximum values should be reevaluated: https://github.com/ros2/rcl/blob/5edf27b032cdaa324349bbdc02a9772eb4d9443b/rcl_yaml_param_parser/src/parser.c#L65-L71

[2018-06-01 19:00] anup-pem opened #246 "[YAML parser] Support command line yaml parameter string"
#235 takes of supporting parsing YAML parameter file.

The above work needs to be extended to support command line string yaml parameters. The API that needs to be implemented for this functionality is

[code]

[2018-06-01 19:12] anup-pem opened #247 "[YAML parser] Support for multiple parameter files"
#235 takes of supporting parsing single YAML parameter file.

The above work needs to be extended to support multiple parameter files. This helps where a vendor can ship their product with a default parameter file and customer can use their parameter file if they want to change some of the default values. The files will be parsed one after the other updating the same C parameter structure. If the

[2018-06-05 09:09] mikaelarguedas opened #252 "[YAML parser] Be able to use the parser in rcl without circular dependency"
Currently the parser is used by the C++ layer. But we should be able to move the calls to the parser in rcl and just provide the resulting C datastructure to the client libraries

[2018-06-05 21:03] sloretz opened #254 "Expose rcl_remap_t in public API"
## Feature request
The structure `rcl_remap_t` should be exposed in the public API, and maybe `_rcl_parse_remap_rule()` should be to.

#### Feature description
 This is to allow it to be wrapped by rclcpp and passed into the node's constructor as something other than string arguments, which will allow ros2 launch to handle remap rules and parameter files the same way: parse arguments, decide which

[2018-06-06 17:07] sloretz opened #255 "Get fully qualified node name"
## Feature request

A fully qualified node name is the combination of the node's namespace and name. This is a request for a function to get that from a node.

#### Feature description
https://github.com/ros2/rclcpp/blob/ef427a7e3c1d8d8b1c7f04e01a4de318694618bb/rclcpp/src/rclcpp/node_interfaces/node_parameters.cpp#L93-L105

#### Implementation considerations
`char * rcl_node_get_fully_qualified_na

[2018-06-09 01:23] wjwwood opened #258 "use __name instead of __node for consistency with ROS 1"
## Feature request

#### Feature description

@codebot pointed out to me that ROS 1 uses `__name` and not `__node` for remapping the node name over the command-line, see:

https://wiki.ros.org/Nodes#Remapping_Arguments.Special_keys

The use of `__node` in ROS 2 is likely due to me randomly using it in the design document:

http://design.ros2.org/articles/topic_and_service_names.html#substitutions

[2018-06-13 16:29] #228 closed

[2018-06-19 05:01] dhood opened #262 "__ns remapping not working when specified for a particular node"
This works:
[code]

As does this:
[code]

But this doesn't seem to:
[code]

There's a chance this combination isn't expected to work, but I think it might be.

[2018-06-19 05:07] wjwwood commented on #262
I would also consider that to be a bug.

[2018-06-19 15:18] sloretz commented on #262
definitely a bug

There's a unit test for `rcl_remap_node_namespace()` https://github.com/ros2/rcl/blob/c9fe312674f8c5a2c5b40b6208c830f4ca8c40ff/rcl/test/rcl/test_remap.cpp#L55-L86

but there's not an integration test for it https://github.com/ros2/rcl/blob/master/rcl/test/rcl/test_remap_integration.cpp

[2018-06-19 15:51] dhood commented on #262
Yeah I have one prepared that fails, will open a pr for the test

On Tue., 19 Jun. 2018, 08:18 Shane Loretz, <notifications@github.com> wrote:

[2018-06-29 09:30] mosteo opened #264 "Inconsistent struct/pointer arguments for allocators"
I don't see a reason why some functions expect a struct and others a pointer:

Pointer:
https://github.com/ros2/rcl/blob/d13a902d9ad7d5cc9f2b5bce084f823a2e66589d/rcl/include/rcl/graph.h#L86
https://github.com/ros2/rcl/blob/d13a902d9ad7d5cc9f2b5bce084f823a2e66589d/rcl/include/rcl/graph.h#L129

Struct:
https://github.com/ros2/rcl/blob/d13a902d9ad7d5cc9f2b5bce084f823a2e66589d/rcl/include/rcl/graph.h#

[2018-07-06 00:08] dirk-thomas commented on #264
Thanks for reporting this inconsistency. There is no reason why some API takes a pointer and some takes a value. This should indeed be unified.

Just as a side note when choosing which one to use: if an `rcl_allocator_t` would ever store any data directly (rather then behind another pointer) the altering only the members of a copied value might be undesired...

[2018-07-09 04:01] wjwwood commented on #264
Indeed it needs to be cleaned up, though I don't think we necessarily need to use the same thing everywhere. The pointer should be preferred, as @dirk-thomas pointed out, so that if the allocator struct becomes non-trivial it is still efficient. However, in cases where the only possible error is that the allocator pointer is null (e.g. a "getter" where the allocator is used only for error processi

[2018-07-09 08:57] mosteo commented on #264
From my point of view as a binding implementer the main issue when passed as pointer is that, if copies are of the pointer are kept, I have to manage the lifetime on my side; whereas if it is always passed by copy the issue does not exist.

For example, just this week-end I realized (via segfaults) that `rcl_clock_t` indeed keeps a copy of the allocator pointer received during initialization. In t

[2018-07-09 17:16] wjwwood commented on #264
That's probably a bug, if a function that initializes something takes a pointer to an allocator and needs to use the allocator later, then it should make a copy. The things that the allocate points to should be valid longer than the lifetime of all objects that use it (it's up to the user to ensure that).

If you do something like `rcl_allocator_t * my_allocator = (...)malloc(...);`, then copy som

[2018-07-10 09:21] mosteo commented on #264
Indeed in this case I was passing a temporary allocator in the stack (for some minor convenience related to Ada). I was overconfident that the pointer wouldn't be copied since e.g.`rcl_timer_init` takes a copy so I thought it was the minor inconsistency I reported, but it turns out that `rcl_clock_fini` crashes. Then I saw that rcl_clock_h contains an `rcl_allocator_t *`, so I reworked my side to

[2018-07-10 17:29] wjwwood opened #267 "rcl_ros_clock_init stores pointer to allocator rather than storing a copy"
See: https://github.com/ros2/rcl/issues/264#issuecomment-403758195

This line should be changed so that the given allocator is copied, either by allocating memory to store the allocator struct as a pointer in the `rcl_clock_t` or by changing the pointer to an allocator in the `rcl_clock_t` to an instance and then assigning the incoming allocator structure to the one in the `rcl_clock_t`:

https://

[2018-07-10 17:30] wjwwood commented on #264
I made an issue for the problem: https://github.com/ros2/rcl/issues/267

[2018-07-11 21:24] wjwwood opened #269 "replace uses of reinterpret_cast with static_cast where possible"
See: https://github.com/ros2/rcl/pull/261#discussion_r195932052

[2018-07-24 18:55] dirk-thomas opened #273 "reconsider signature of rcl_clock_get_now"
Currently the function takes a `rcl_time_point_t *` but neither checks the `clock_type` nor set the `clock_type`:
https://github.com/ros2/rcl/blob/d3a734f2661a05fb1ab0746907a3477a02de8dbd/rcl/src/rcl/time.c#L228-L240

Should the signature be changed to a `rcl_time_point_value_t` instead?

[2018-07-24 22:46] dirk-thomas commented on #273
See proposed changed (part of #272): https://github.com/ros2/rcl/pull/272/commits/28e6ba1d96fb78798d93719c02b78d49d797f36c

[2018-08-31 17:49] dirk-thomas opened #289 "timer accumulating delay"
The current implementation of timers is accumulating the delay from each cycle which results in a callback frequency less then the specified rate. Since the delay per cycle is (on my machine) around 0.2ms that is most noticeable when trying to achieve a high rate like 1000Hz since then the delay per cycle becomes significant (~20%) so each callback is only triggered around every 1.2ms.

The proble

[2018-09-06 14:20] greimela-si opened #293 "Memory issue when adding and removing time jump callbacks"
## Bug report

**Required Info:**

- Operating System: Ubuntu 16.04
- Installation type: from source
- Version or commit hash:
  https://github.com/ros2/ros2/blob/13ee60a815f170d689ffb323e4c3c2747a72407f/ros2.repos
- DDS implementation: Fast-RTPS
- Client library (if applicable): rclcpp

#### Steps to reproduce issue

1. Create an instance of the rcl clock struct
2. Add some time jump handler
3. R

[2018-09-06 16:26] sloretz commented on #293
Oops. I think the bug could be fixed by setting `rcl_clock.jump_callbacks` to `NULL` when removing the last callback. `allocator.reallocate(NULL, ...)` [is required to succeed](https://github.com/ros2/rcutils/blob/f04cc666dd06347050ff5c18b80079922e729d92/include/rcutils/allocator.h#L62) which I think is meant to say it behaves like [stdlib realloc](http://pubs.opengroup.org/onlinepubs/009695299/fu

[2018-09-06 21:06] #293 closed

[2018-09-07 00:41] #289 closed

[2018-09-11 22:49] dhood opened #296 "Name remapping specific to a fully-qualified node's name"
Remapping can be passed to a specific node with e.g. `talker:chatter:=my_chatter`.
Suppose I have multiple nodes named `chatter` in a process, but in different namespaces.
Is the ability to address the nodes individually implemented yet, so that I can do e.g. `/ns1/talker:chatter:=my_chatter`? I think not; am looking for confirmation. @sloretz

[2018-09-11 22:51] sloretz commented on #296
The node-name prefix handling assumes node names are unique within a process before remapping.

[2018-09-11 22:55] dhood commented on #296
Usually when we refer to node name uniqueness we are actually referring to "ns+node name" uniqueness. To clarify your statement: the remapping process is assuming there is only one `talker` in the process, in _any_ namespace, and it is not possible to address them individually, is that right?

[2018-09-11 22:56] sloretz commented on #296
Correct

[2018-09-11 23:00] wjwwood commented on #296
I think it has to consider the node namespace as well, because having two nodes with the same name but in different namespaces will be (has been in the past) a common case.

[2018-09-11 23:14] mikaelarguedas commented on #296
:+1:

:+1:

Agreed I think it should consider the namespace and assume uniqueness of "ns+node name".

I often use the example of a stereo image processing process that is a basic/common example of a process having 2 instances of a "camera" node under different namespaces (`camera_left`, `camera_right`).

[2018-09-14 00:13] dhood commented on #252
quoting @mikaelarguedas from https://github.com/ros2/rclcpp/pull/488#discussion_r217569380 for additional description:

That package is currently depending on rcl to be able to use rcl types, so rcl cannot depenc on rcl_yaml_param_parser to avoid circular dependency.

[2018-09-20 22:17] sloretz opened #301 "rcl_yaml_param_parser allows two // in node name"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Bionic
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Create a yaml file called `empty_name_in_ns.yaml` in `rcl_yaml_param_parser/test` with the following

[code]

Add this test block to `test_parse_yam

[2018-09-26 11:04] Myzhar opened #302 "[YAML Parser] Empty strings not allowed"
- Operating System:
  -  Ubuntu 16.04
- Installation type:
  -  from source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

In YAML file:
``` svo_file: "" ```
or
``` svo_file: '' ```
or
``` svo_file:  ```

In the C++ code:
[code]

#### Expected behavior
Read parameter as an empty std::string
####

[2018-10-06 09:22] astralien3000 opened #304 "Why #include "./header_in_source_dir.h" ?"
What is the rationale to use includes like this :
[code]
Instead of the "more classic" :
[code]

I'm asking that because the Arduino build system seems to be allergic to the `#include "./header_in_source_dir.h"` form.

Thanks !

[2018-10-06 14:52] clalancette commented on #304
Presumably it is to make sure that you get the header file you expect, particularly with very common header file names like "common.h".  But I didn't write that code, so I'm not sure; maybe @wjwwood has some insight.  In any case, I'm not a huge fan of the `#include "./header_in_source.h"` style anyway, and things seem to build without it, so I would be for switching to the more traditional/classi

[2018-10-08 19:00] wjwwood commented on #304
That's exactly it, things like `string.h` or `types.h`. And since they don't have namespace like `rcl/common.h` the `./common.h` helps. I tried to do it everywhere for convenience, and also it's a clue to people reading the code that it is an rcl header and not a system one despite not having a namespace.

I'm not opposed to changing it, but I'd prefer not to since not all machines will have `comm

[2018-10-09 06:50] astralien3000 commented on #304
As far as I have tested (on gcc), "common.h" has the same behavior as "./common.h" : if you remove common.h from src, it will search in the include paths. The same way, <common.h> and <./common.h> have the same behavior (try including <stdio.h> and <./stdio.h> for example).

And I don't agree at all with your last senstence, "" and <> are not treated identically, neither by [visual studio](https:/

[2018-10-09 21:05] astralien3000 commented on #304
👍  I will try to find out anyway. I suspect the answer is simply that Arduino has an awful build system 😞 .

[2018-10-09 21:09] astralien3000 commented on #304
After some tests, here is the commands that fails (Arduino under Windows) :
[code]

While the same commande works if I remove `-o nul` at the end.
And if I try the same command under linux, it works even with `-o nul`...
I also tested an ARM-based Arduino board, and there is no problem while keeping the `-o nul`.
Seems like it is a bug in some version of avr-gcc.

Ok, from my side you can close th

[2018-10-11 17:56] clalancette commented on #304
@wjwwood and I had another short conversation about this, and we agreed that we should remove the "./header_in_source_dir.h" and move to just "header_in_source_dir.h".  It's fairly low priority for us, though; if you'd like to see it sooner, a PR would be appreicated @astralien3000 .  Thanks!

[2018-10-11 17:58] clalancette commented on #302
@Myzhar Just FYI, after discussing this, we think that:

[code]
and
[code]
Should work, while:
[code]

Should not (it's either a syntax error or a null entry, it's not entirely clear to me which one).

[2018-10-11 19:59] Myzhar commented on #302
I tried both as reported in the issue and both give the same error "No value at line XX"

[2018-10-15 18:57] jacobperron opened #306 "Actions"
Implement actions API for use by client libraries.

Actions are a important feature/concept in ROS that allow for tracking and updates to long-running requests called "goals". Refer to the design doc for more information:  ros2/design#193

Prerequisites:

- [x] C typesupport for actions (rosidl_generator_c) ros2/rosidl#302

Tasks:

- [x] Propose header files for action server, action client, and o

[2018-10-23 21:32] sloretz opened #308 "Wait set groups"
## Feature request
This is a request for an API on top of the current waitset api that considers groups of waitable entities.

#### Feature description

An API that covers groups of entities that can be waited on would be immediately useful for actions. A server and client consists of several waitable entities (servers, clients, maybe a timer). The API would allow a client library to add a group o

[2018-10-23 22:49] clalancette commented on #304
I poked at this just a little while waiting for other stuff to compile.  Here's what I found:

The [Google style guide](https://google.github.io/styleguide/cppguide.html#Names_and_Order_of_Includes) (which we mostly follow, with some exceptions), agrees and says that we should *not* use "./" for #include.  However, they also seem to assume that your directory structure is something like `src/foo/b

[2018-10-23 22:53] wjwwood commented on #304
In retrospect that might have been why I ended up with `./` because it's not something I usually do.

I probably didn't do the `src/foo/bar.h` because I didn't want to add `src` to the include path and for a single file in say `src/ping.c` you could then do `#include "foo/bar.h"`, but that imposed a structure on your `src` folder and it makes it hard to see (at the location of include) which heade

[2018-10-24 16:58] astralien3000 commented on #304
Hello !

Sorry I could not work on this recently.
So if I understand well, `cpplint` force to use a sub directory ? That is weird.
I don't want to fight with cpplint, so I don't mind leaving it as-is.

[2018-10-24 17:03] clalancette commented on #304
Yeah, that matches my thinking as well.

That's what it seems like to me, though I didn't do any additional testing of cpplint to see what things it "would" accept.

In either case, since you seem to agree, I'm going to close this issue out.  Feel free to reopen if you come across new information or come up with a different way to accomplish this goal.  Thanks!

[2018-10-24 17:03] #304 closed

[2018-10-27 09:03] fmrico opened #309 "Remove lifecycle_service_client_py.py; it is deprecated and no longer works correctly"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries and source
- Version or commit hash:
  - bouncy and 451bf4a1a41ad87920006a974a4d3b8ca528847b
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

[code]

#### Expected behavior
Transition from active to shuttingdown
#### Actual behavior

[2018-10-27 10:29] fmrico commented on #309
I have provided a fix in #310 if this is finally considered a bug.

Best

[2018-10-27 18:57] Karsten1987 commented on #309
@fmrico thank you for reporting this. That's my bad. The python script you're using should actually be deprecated and deleted. It is still using the old API and transitions.

Can you try the following (recommended) way of changing the states:

[code]

that works for me.

[2018-10-27 22:47] fmrico commented on #309
Thank you @Karsten1987 . I will close de PR.

[2018-10-29 18:38] clalancette commented on #309
I'm going to change the title of this bug to more closely reflect the fact that we want to remove `lifecycle_service_client_py.py`

[2018-10-30 23:23] jacobperron opened #316 "Reuse rcl_lifecycle state machine in rcl_action"
## Feature request

#### Feature description

Follow up from #311.

`rcl_action` contains a state machine implementation for action goals and it
would be nice to remove redundancy by reusing the more general state machine in `rcl_lifecycle`.

#### Implementation considerations

In order to not create a dependency between `rcl_action` and `rcl_lifecycle` we should consider moving the state machine

[2018-11-01 02:19] #309 closed

[2018-11-13 23:51] jacobperron opened #328 "Add action integration tests"
## Feature request

#### Feature description

Following the completion of action server and action client implementations, we should add some integration tests for communication between the two.

Connects to #306.

#### Implementation considerations

Part of integrations tests have been included as part of the first action server implementation (#323), but there are several tasks that should be co

[2018-11-14 00:30] jacobperron commented on #308
@sloretz
It looks to me that the definition of `rcl_waitset_group_t` from your example very closely resembles `rcl_wait_set_t`:

https://github.com/ros2/rcl/blob/a2546fa0b0566b612cf1c0d8aff9911937e57a7a/rcl/include/rcl/wait.h#L38-L57

Rather than defining a new concept of a wait set group, maybe we could instead implement a second wait function that takes an array of `rcl_wait_set_t`, e.g.

[code]

[2018-11-14 15:57] sloretz commented on #308
@jacobperron That could work. One thing to be aware of is the wait sets need to be consolidated before being passed to `rmw_wait()`. The `impl` pointer on the grouped waitset was a place to store those lists.
https://github.com/ros2/rcl/blob/a2546fa0b0566b612cf1c0d8aff9911937e57a7a/rcl/src/rcl/wait.c#L543-L549

Maybe `rcl_wait_multiple()` could pick one of the wait sets to use as storage for the l

[2018-11-16 13:50] hidmic commented on #308
@jacobperron @sloretz I was just looking to `rclcpp` internals in preparation for the client implementation, and I started wondering if we'd be better off with just wait set grouping and ungrouping functions instead of adding another `rcl_wait*()` variant. Something like (or whatever name you guys prefer):

[code]

Essentially splitting up the function @jacobperron wrote in three separate steps: g

[2018-11-16 18:47] jacobperron commented on #308
@hidmic is it possible to provide an example/pseudocode of how you imagine these functions could be used in the context of actions?

[2018-11-16 19:10] hidmic commented on #308
@jacobperron so, for a generic example, I'll just reuse the one you wrote for `rcl_wait_multiple()`, it's basically the same but in more steps:

[code]

The real benefit comes when updating `rclcpp` to work with action clients and servers. There, the grouped wait set is the wait set being passed in to [`add_handles_to_wait_set()`]( https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/s

[2018-11-16 19:16] hidmic commented on #308
Not a something we must do, I just thought it may be helpful considering API freeze is next Wednesday.

[2018-11-16 20:06] jacobperron commented on #308
@hidmic How can the implementation of `rcl_wait_set_ungroup()` know what entities belong to which wait set?

[2018-11-19 18:35] jacobperron commented on #308
As an alternative solution for working with actions and wait sets, we can instead modify the existing wait set API to return the index of the entity in the wait set when it is added. For example, adding a service:

[code]

Then, the action server/client can have an implementation like so:

[code]

[2018-11-20 18:04] #308 closed

[2018-11-21 01:53] #306 closed

[2018-11-29 23:30] #328 closed

[2018-12-01 00:50] thomas-moulard opened #347 "Tests are failing when security is enabled"
Many tests fail because ROS_SECURITY_ROOT_DIRECTORY is not set when the tests are running.

[code]

[2018-12-01 01:01] dirk-thomas commented on #347
The tests are not meant to be run with security enabled. Also I doubt that the `cppcheck` and `xmllint` failures are related to security.

[2018-12-01 01:11] thomas-moulard commented on #347
`cppcheck` and `xmllint` being put aside, what is your recommendation to ensure that we don't introduce regressions while working on sros?

[2018-12-01 01:14] dirk-thomas commented on #347
I would think that it is unrealistic that existing tests pass when any security related restrictions are in place. So I think you will need security specific tests for that - e.g. like these: https://github.com/ros2/system_tests/tree/master/test_security

[2018-12-01 03:15] thomas-moulard commented on #347
Thanks for the pointer, I'll take a look at that!

[2018-12-01 03:15] #347 closed

[2018-12-07 19:57] sloretz opened #354 "100% Action Server CPU usage after goal is done until it is expired"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu bionic
- Installation type:
  - source
- Version or commit hash:
  - https://gist.github.com/sloretz/6e5d7324b115da574d79c7e785d8968e
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

1. Start `top` in a terminal
1. Start an action server using `rmw_fastrtps_cpp`
[code]

[2018-12-07 20:35] jacobperron commented on #354
This seems to be the case, I believe we're missing a call to `rcl_timer_call()` to update the internal state of the timer when it is ready.

[2018-12-11 19:07] #354 closed

[2018-12-18 10:10] vingtfranc opened #362 "code that should segfault?"
Hi

I am looking at `node.c` and `arguments.c` code, and there is part that, in my understanding, should cause a segfault (but I guess it doesn't?)

If you look from line 286 (`node.c` in master branch):
[code]
`node->impl->options` is filled with 0, and then it is copied to `options` with the following function (from line 562):
[code]

and the arguments are copied by `rcl_arguments_copy` as defin

[2018-12-19 17:17] abilbaotm opened #363 "bus error on armv7l"
## Bug report

Hi, I have compiled natively ros2 crystal on a raspberry pi 3b and seems that there is a bug somewhere, when I try to launch a demo talker I get a bus error, seems something related with some `Alignment trap`. I open this issue in `rcl` repo because the exception is raised when `rcl_get_zero_initialized_context` is called.

**Required Info:**

- Operating System:
  - 2018-11-13-rasp

[2018-12-19 23:56] jacobperron commented on #362
I believe you are referring to this statement:

https://github.com/ros2/rcl/blob/6b6c0fe81d9d66bfc48d5787467bd7e1ed07f0bc/rcl/src/rcl/arguments.c#L505-L507

But, `args->impl->num_unparsed_args` is not necessarily zero (note it is the input parameter to `rcl_argument_copy`, not the output parameter). Although, I suppose it could be zero if when the original arguments are parsed, no arguments are pa

[2018-12-20 00:18] jacobperron commented on #362
I tried adding the following test to `test/rcl/test_arguments.cpp` and it passes for me:

[code]

[2018-12-20 00:34] jacobperron commented on #362
I'm still not convinced there's not an issue here though. The behavior of `malloc(0)` is documented as implementation defined ([ref](https://en.cppreference.com/w/c/memory/malloc)):

It's probably not a bad idea to commit the test and add a guard against allocating/deallocating `unparsed_args`.

[2018-12-20 01:39] jacobperron commented on #362
Based on this [SO post](https://stackoverflow.com/a/44331453) and some empirical testing, it seems we don't have to worry about free'ing the pointer returned by `malloc(0)`.

@vingtfranc In summary, to try and answer your original concern, in the event we have 0 unparsed arguments, the resulting `malloc(0)` **may** return `NULL`, and if it does, a call to `free(NULL)` during finalize is safe accor

[2018-12-20 01:58] vingtfranc commented on #362
Yes, but in the case I'm describing, it is not the malloc(0) which is freed:
https://github.com/ros2/rcl/blob/6b6c0fe81d9d66bfc48d5787467bd7e1ed07f0bc/rcl/src/rcl/arguments.c#L505-L513
Here if `malloc(0)` returns `NULL` (it does on my system), then `args_out->impl->unparsed_args` is `NULL` but `args_out->impl->remap_rules` can be anything since there has just been a malloc on `args_out->impl`
http

[2018-12-20 09:03] ahcorde commented on #363
I have commented out this line https://github.com/ros2/rcl/blob/master/rcl/src/rcl/context.c#L41

[code]

and it's working

[2018-12-21 21:47] jacobperron commented on #362
@vingtfranc Ah, I see the issue now.  So are you saying this doesn't segfault for you? Perhaps it was just "luck" that in this case `args_out->impl->remap_rules` was zero.

Looks like a bug to me.

[2018-12-22 00:14] vingtfranc commented on #362
Actually, I have compiled the demo node listener.cpp on my experimental system, and the program has the behavior I described (checked step-by-step in gdb). Note that I'm not building ROS 2 the standard way (as my machine has its own building system). So it's possible the case I'm describing may only occur because of my building configuration.

On my side, I fixed my code modifying allocator.c:
htt

[2018-12-22 00:43] jacobperron commented on #362
The test I suggested in https://github.com/ros2/rcl/issues/362#issuecomment-448802890 fails due to bad allocation and `test_remap_integration` fails (crashes).

It would appear a few places in our code do not anticipate the possibility that `malloc(0)` returns `NULL`.

[2018-12-22 01:33] jacobperron commented on #362
@vingtfranc Please take a look at #367. I believe it addresses this particular issue.
Thank you for reporting this issue :slightly_smiling_face:

[2019-01-01 22:35] rarvolt commented on #255
I'd like to work on this. Could you assign it to me?

[2019-01-03 10:50] ArkadiuszNiemiec commented on #363
I can confirm that the problem exists. Tested on two separate RPi 3 with Raspbian.
Also the fix mentioned by @ahcorde worked for me as well.

[2019-01-03 19:54] #363 closed

[2019-01-04 00:31] #362 closed

[2019-01-04 23:46] dirk-thomas opened #370 "pass individual parameters as command line arguments"
In contrast to the existing feature to pass a `.yaml` file containing the parameters.

[2019-01-16 05:02] Vigasto commented on #363
Fix https://github.com/ros2/rcl/issues/363#issuecomment-448924124 also works on Odroid XU4 running Armbian

[2019-01-18 17:45] hidmic opened #374 "rcl_init segfaults on non ASCII command line arguments if LANG is not set"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 Bionic Beaver
- Installation type:
  - Binaries and from source
- Version or commit hash:
  - Crystal and current [ros2.repos](https://github.com/ros2/ros2/commit/149b0e50083d25d1002e7dfc01af95ddb2c5b14d)

#### Steps to reproduce issue

1. Unset the `LANG` environment variable if set.
[code]
2. Start some node.
[code]
3. Try t

[2019-01-23 02:00] mkhansen-intel opened #375 "Exception being thrown: failed to initialize rcl node: Logger already initialized for node"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - c6788e4e54843d769cd4515c6f5e4ec6bb1a1cd0
master latest after "Publish logs to Rosout (#350)"

- DDS implementation:
  - Default - FastRTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Install navigation2
[code]

#### Expected behavior

[2019-01-23 02:00] mkhansen-intel commented on #375
Adding @crdelsey

[2019-01-23 02:06] sloretz commented on #375
@mkhansen-intel does the error happen with a different node name like `amclfoo` or `fooamcl`?

[2019-01-23 02:11] mkhansen-intel commented on #375
Good idea, but I just tried it and it didn't make a difference except in the logger output on the screen:
[code]

[2019-01-24 00:17] mkhansen-intel commented on #375
OK here's more info.
I isolated the failure down to this line in amcl:
`  tfl_.reset(new tf2_ros::TransformListener(*tf_));`

The gdb backtrace of the error is this:
[code]
Line 19 is where it calls into the TransformListener constructor. I still don't understand why that is causing an exception to be thrown. Is the bug in TransformListener? Maybe I should have filed the bug in Geometry2 instead?

[2019-01-24 00:33] crdelsey commented on #375
Interesting. When you specify the `node_name` option, all the nodes get given that same name. Seems the new logger code doesn't like it when there are two nodes with the same name.

I created a minimal example to reproduce the problem.
[code]

If I build the code above into a node called `loggerfailure`, then if I run without options
(`./loggerfailure`) everything is fine. If I add the node name o

[2019-01-24 00:39] sloretz commented on #375
@crdelsey In that example the nodes can be given different names by prefixing the rule with original name `./loggerfailure foo:__node:=abc bar:__node:=cba`

[2019-01-24 00:45] crdelsey commented on #375
@sloretz That does fix the problem in my example. However, I'm not aware of a way to specify those prefixes when using a launch file like in the original problem description.

[2019-01-24 01:48] mkhansen-intel commented on #375
Why does the logger now need to throw that exception? What harm is it causing to have two nodes with the same logger? If the only downside is that they both will log using the same name and therefore you won't know what output was from which node, then it seems like a warning "Duplicate logger for node abc" is all that is needed. Am I missing something?

[2019-01-24 15:32] sloretz commented on #375
I agree two nodes sharing a logger would be fine as a warning. Elsewhere, nodes with the same name create parameter services with the same name. This makes setting different parameters on them a problem.

[2019-01-28 17:41] mkhansen-intel commented on #375
So @crdelsey has a work-around for this which we can live with. I still think this exception should be a warning instead. Please let me know whether that change will be made so we can revert the work-around at a future date.

[2019-01-28 18:57] sloretz commented on #375
I can reproduce this exception with

[code]

but not with

[code]

I don't yet know why this is the case.

[2019-01-28 19:22] sloretz commented on #375
`tfl_.reset(new tf2_ros::TransformListener(*tf_));` throws because [this constructor creates a hidden node](https://github.com/ros2/geometry2/blob/d89b9a2e154a19c224dade0b13275df34180bf12/tf2_ros/src/transform_listener.cpp#L47). Both change their names according to the `__node`.

Another way to work around the issue is to use another `__node` rule to tell the transform listener to keep it's name.

[2019-01-28 22:21] durko opened #378 "Make TestTimerFixture.test_timer_not_ready not fail sporadically"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04, 18.04
- Installation type:
  - source
- Version or commit hash:
  - 7f6b914ac41f0b20853aa84cd5a161952726de02
- DDS implementation:
  - any
- Client library (if applicable):
  - rcl

#### Steps to reproduce issue
- Run test suite
- Test `TestTimerFixture.test_timer_not_ready` fails occasionaly

#### Expected behavior
Tests alw

[2019-01-28 22:39] sloretz commented on #375
`__node:=` is causing trouble when code creates other nodes in the background. For example, `TransformListener` creates a node, and [this code](https://github.com/ros-planning/navigation2/blob/master/nav2_tasks/include/nav2_tasks/service_client.hpp#L28-L32) in navigation2 creates a node. Launch doesn't know there are multiple nodes in the process so it has no way of knowing it should use a `__node

[2019-01-29 15:52] sloretz commented on #375
<details><summary>Yup, two TransformListener alone crashes since they create nodes with the same name</summary>

[code]

[code]
</details>

[2019-01-29 18:17] jacobperron commented on #375
I agree that (5) seems like the right thing to do (and then do the [TODO](https://github.com/ros2/geometry2/blob/d89b9a2e154a19c224dade0b13275df34180bf12/tf2_ros/src/transform_listener.cpp#L46) to resolve this particular ticket).

I may have been under the wrong assumption, but I thought fully qualified node names should be unique. If so, then I believe an error (rather than a warning) is correct

[2019-01-30 18:44] jacobperron commented on #378
I don't see a reason why the timer value should be so low. Considering the nature of the test, bumping the timer value to 1 second sounds reasonable to me. I'd like to get a second opinion, but feel free to open a PR with the proposed change.

[2019-01-31 17:40] #254 closed

[2019-02-02 02:36] tfoote commented on #255
Fixed by @rarvolt in #369 merged in #381

[2019-02-02 02:36] #255 closed

[2019-02-06 02:05] Karsten1987 commented on #375
So we currently run into this issue as well on rosbag2.
https://ci.ros2.org/job/ci_linux/6127/testReport/junit/(root)/projectroot/test_record/

in contrast to this issue here, i believe we don't spawn multiple nodes with the same time simultaneously but sequentially in the same process.

[2019-02-06 05:15] nburek commented on #375
A little background, for the rosout logging functionality in ROS2 we create a publisher instance on every node and the logger that is associated with that node sends logs out on the rosout topic publisher specifically for that node. We did it this way to avoid randomly picking a single node in the process and sending all logs out via a publisher on that node. Additionally, the only thing linking a

[2019-02-07 18:14] dirk-thomas commented on #374
The problem is not happening in message conversation / serialization. The problem already happens while passing the command line arguments.

[2019-02-07 20:45] nburek commented on #375
Fix to make this a warning message for now https://github.com/ros2/rcl/pull/384, as discussed here: https://github.com/ros2/rcl/pull/350

[2019-02-11 20:50] hidmic commented on #374
Alright, small fixes are ready!

[2019-02-12 18:07] #374 closed

[2019-02-15 18:35] jacobperron opened #389 "Add functions for working with action goal IDs"
## Feature request

#### Feature description

Currently, the client libraries are responsible for generating UUIDs for action goal IDs when an action client makes a request. The goal ID is part of generated "send goal" service request.
Client libraries also make use of the goal IDs for maintaining a list goal handles.

Presumably, most applications do not care that an action goal ID is implemented

[2019-02-16 01:20] hyunoklee opened #390 "please help me form buidl -> erro too many arguments to function ‘rmw_create_wait_set’ in rcl/wait.c"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 ROS2 crystal ( binary install )
- Installation type:
  - from source
- Version or commit hash:
  - git clone https://github.com/ros2/rcl.git
     I use master branch
- DDS implementation:
  - just build erro
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

[2019-02-16 02:35] wjwwood commented on #390
The master branch does not support Crystal, for that you should use the `crystal` branch:

https://github.com/ros2/rcl/tree/crystal

Or alternatively, you should use the latest version of everything and not try to use the Crystal version of the binaries.

I'm going to close this because I believe the issue has been addressed. Feel free to continue to comment and I can reopen if necessary.

[2019-02-16 02:35] #390 closed

[2019-02-20 23:11] jacobperron commented on #375
@mkhansen-intel I believe this issue has been resolved by #384. If not, you can comment here and I can reopen the issue,

[2019-02-20 23:11] #375 closed

[2019-03-14 18:48] jacobperron opened #399 "Rename action state transitions"
## Feature request

#### Feature description

As discussed in the [actions design doc](https://github.com/ros2/design/pull/193/files/1c98b9b7fbbeb5bde7cd36301c914e46016e1c0b#r229870628), we should rename the goal state transitions to use active verbs.

Basically, the following event names:

https://github.com/ros2/rcl/blob/1d8b831bdfe8c700a1934f4d6dc1803d49565865/rcl_action/include/rcl_action/type

[2019-03-30 01:21] jacobperron commented on #399
I realized that there is already an event named `GOAL_EVENT_CANCEL` for the action client triggered event. Following the design doc, I propose renaming this to `GOAL_EVENT_CANCEL_GOAL`.

[2019-03-30 02:55] jacobperron commented on #399
CI for all referenced PRs:
* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=6567)](http://ci.ros2.org/job/ci_linux/6567/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=2905)](http://ci.ros2.org/job/ci_linux-aarch64/2905/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=5383)](http://ci.ro

[2019-04-01 20:26] jhdcs commented on #269
I think I might have replaced a large chunk of the reinterpret_casts. I'm not 100% sure I trust the testing framework to catch any errors, but so far everything seems to be building correctly.

Want me to open a pull request?

[2019-04-01 20:32] wjwwood commented on #269
I would default to yes, pull requests can always be declined or refactored, and don't take much to open :)

[2019-04-01 20:40] jhdcs commented on #269
Well, I still want to be polite ^_^

[2019-04-10 15:28] jacobperron opened #414 "Invalid namespace argument succeeds in graph API calls"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - c3ea0df3173058f9d7892ba4e125aff733e3c427
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rcl

#### Steps to reproduce issue

Uncomment graph API tests:

https://github.com/ros2/rcl/blob/686035e0f752903c3b0da880aab7cb89ee5622d1/rcl/test/rcl/

[2019-04-15 20:20] jacobperron opened #417 "[rcl_action] User friendly error messages for invalid action state transitions"
## Feature request

#### Feature description

If an invalid goal state transition happens, we see numbers for the state and event values. E.g.

[code]

A better message would translate the state and event codes to words. E.g.

[code]

[2019-04-16 01:38] jacobperron commented on #399
* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=6696)](http://ci.ros2.org/job/ci_linux/6696/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=3012)](http://ci.ros2.org/job/ci_linux-aarch64/3012/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=5501)](http://ci.ros2.org/job/ci_osx/5501/)
*

[2019-04-16 11:46] #399 closed

[2019-04-22 21:20] sloretz commented on #269
Fixed by ros2/rcl#410

[2019-04-22 21:20] #269 closed

[2019-04-22 23:00] joncppl opened #419 "[BUG] Consistent and critical failure parsing large (>500 lines) YAML configuration files."
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Latest Crystal Binaries (also Docker Image)
- Version or commit hash:
  - Crystal Patch 4
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - both

#### Steps to reproduce issue
Make any yaml parameter file is very long
[code]
Run with any node
[code]

The same occurs with the pyt

[2019-05-01 17:53] sloretz opened #429 "Add `rcl_..._shutdown`"
## Feature request

#### Feature description

This is a proposal to add `rcl_..._shutdown` functions in addition to `rcl_..._fini` for publishers, subscribers, clients, services, and nodes. The motivation comes from `rclpy` where memory is freed by a garbage collector, but there is still a desire to get rid of topics/services/actions without waiting for a garbage collector to run.

This would make

[2019-05-01 17:58] sloretz commented on #429
Tagged as `backlog` as this idea seems a lot more complicated and needs more thought

[2019-05-03 04:37] mm318 opened #431 "Re-enable rcl unit test "test_events" for macOS"
The `test_events` unit test in `rcl` was flaky when run on the macOS build machine, so it was disabled (intended to be temporarily disabled). This issue to is track re-enabling the test after improving its robustness.

[2019-05-03 05:05] dirk-thomas commented on #431
For reference: https://github.com/ros2/rcl/pull/408/commits/209ec28cda85e4ad6477459eda6f60c67d861a4d

[2019-05-03 18:39] sloretz commented on #431
Quick check on OSX  testing just rcl @mm318 FYI

[![Build Status](https://ci.ros2.org/job/ci_osx/5700/badge/icon)](https://ci.ros2.org/job/ci_osx/5700/)

[2019-05-17 15:37] mm318 commented on #431
The tests passed once (https://github.com/ros2/rcl/pull/433#issuecomment-493159962), got merged, and then failed again (https://github.com/ros2/build_cop/issues/199).

[2019-05-17 16:02] jacobperron commented on #431
I'm not sure if it's of any consequence, but the reported failure on build cop is a release build.

[2019-05-17 16:24] clalancette commented on #431
Yeah, that's almost certainly the case.  The release builds (particularly on macOS) expose a lot more bugs than the debug builds.

[2019-05-17 16:36] mm318 commented on #431
Are there other unit tests that create a context, node, and publisher/subscriber pair, send a `Strings` message, and lastly tears everything down, and then repeat a couple of times for the remaining test cases?

Is there some way to run this test with `--gtest_shuffle`? I've noticed that it's always the last two test cases that fail, with the subscriber failing to receive a published message.

I f

[2019-05-17 22:57] jacobperron commented on #431
[test_communication/test/test_publisher_subscriber](https://github.com/ros2/system_tests/blob/master/test_communication/test/test_publisher_subscriber.py.in) launches pub/sub pairs for `rclcpp` and `rclpy` with all test messages. But I'm not aware of analogous  communication tests strictly in C.

Try setting the env variable GTEST_SHUFFLE=1 ([reference](https://github.com/google/googletest/blob/ma

[2019-05-21 18:27] nburek commented on #431
Are https://github.com/ros2/build_cop/issues/199 and this tracking the same issue? Should one be closed in preference of the other?

[2019-05-21 20:07] mm318 commented on #431
Yeah, let's close this one, as this test is already enabled, which is why it showed up under `build_cop`.

[2019-05-21 20:07] #431 closed

[2019-05-21 22:23] jacobperron commented on #417
Closed by #448

[2019-05-21 22:23] #417 closed

[2019-05-22 21:43] jacobperron opened #449 "Remap node name to fully qualified name"
## Feature request

#### Feature description

When using a fully qualified name for remapping, the node name is not remapped. For example:

[code]

The above command does not change the node name, but I would expect the output of `ros2 node list` to contain `/foo`.

I'm not sure if this is intended to work as I expect, but it seems reasonable to me.

If this is **not** intended to work, then I thi

[2019-05-22 22:09] sloretz commented on #449
Remapping to a fully qualified name requires `__ns:=/` and `__node:=foo`.

I would have sworn there was already a ticket where it was talked about making `__node:=` accept a fully qualified name, but I can't find it. IIRC the trouble with `__node` taking a fully qualified name is what to do when a different namespace is given with `__ns:=`? Which namespace do topics/services use if given as relati

[2019-05-23 23:35] jacobperron commented on #449
I think it's okay to limit the name remap to to not accept fully qualified names, but it would be nice to log a warning for invalid names.

[2019-05-24 10:49] avrabe commented on #302
Had the same problem. #450 is my fix for it.

[2019-05-24 15:57] #302 closed

[2019-05-28 15:21] joncppl commented on #419
I was looking over this again and found that maximum parameters is a hard coded constant at 512.

This splits this issue into separate parts:

1) still a bug imo - Parameter loading doesn't check against the maximum, allowing for write past end of buffer, hence the memory corruption issues I'm seeing.

2) Likely an indepentend Feature request - max parameters would be configurable by some means, s

[2019-06-05 07:46] kekstee commented on #244
I was just about to open an issue about this set of limits.

More specifically I easily hit the 128 byte string length on resource file paths which will look something like:
"sharepath(absolute) + some subfolder + filename"

Maybe the length limit for keys and values should be separated?
Is this limit on strings enforced anywhere else?

[2019-06-05 11:21] kekstee commented on #419
There's a related issue concerning the other hardcoded lengths in the parser: https://github.com/ros2/rcl/issues/244

[2019-06-05 19:26] #449 closed

[2019-06-07 18:59] jacobperron commented on #419
I've added a guard against the memory corruption and an informative error message In https://github.com/ros2/rcl/pull/456.

I think we can re-phrase #244 to be about letting users configure the currently hard-coded limits.

[2019-06-07 20:33] jacobperron commented on #244
We should making the maximum values for string size, number of nodes, and number of parameters configurable. Perhaps it makes sense to default all of them to "no limit" and users can configure a hard limit to avoid dynamic memory allocation.

[2019-06-07 21:56] #419 closed

[2019-06-13 17:38] hidmic opened #460 "Support passing parameters as command line arguments"
## Feature request

#### Feature description

Currently, the only way to pass node parameters over the command line is via a YAML file. To improve usability, we'd like to be be able to pass key value pairs directly, [as ROS1 `rosrun` does](http://wiki.ros.org/rosbash#rosrun). Grounds for this have to be established here and then leveraged in downstream client libraries (e.g. `rclpy` and `rclcpp`).

[2019-06-17 15:59] jhdcs commented on #460
Is this the same thing as #370?

[2019-06-20 00:51] MarcTestier opened #461 "Can't get parameter list of string from YAML file"
## Bug report
- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  -  Crystal and Dashing
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A (rclpy maybe ?)

#### Steps to reproduce issue
I'm using Python and I'm trying to get a list of strings from a YAML file with as bellow:
[code]

#### Expected behavior
I should get a lis

[2019-06-20 16:45] jacobperron commented on #461
Looks like we have a test pending for this issue, but not a fix yet: https://github.com/ros2/rcl/pull/251

[2019-06-21 01:13] christianrauch opened #463 "YAML parser: support mixed types"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Installation type: binary
- Version or commit hash: dashing
- DDS implementation: Fast-RTPS
- Client library: rclcpp

#### Steps to reproduce issue
1. create a yaml configuration file containing:
[code]
2. provide configuration file to node (e.g. via mapping `__params`)

#### Expected behavior
The yaml parser should parse the YA

[2019-06-24 20:24] wjwwood commented on #460
I would prefer to see a more explicit parameter marker than `.`. I understand that it neatly disambiguates `_foo:=bar` (hidden topic `_foo` remaps to `bar`) from `_foo:=bar` (override parameter `foo` to have a value of `bar`), but if we're going to diverge from ROS 1 anyways, I'd like to see a more explicit flag, as I said before. Maybe something like `-p<key>:=<value>`, at the risk of overlapping

[2019-06-27 20:51] #461 closed

[2019-07-01 17:02] vmayoral opened #469 "Memory leak in test_subscription__rmw_fastrtps_cpp"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- DDS implementation:
  - FastRTPS

#### Actual behavior

When launching the tests compiled with Asan enabled:

<details><summary><b>test_subscription__rmw_fastrtps_cpp</b> result</summary>

[code]

</details>

#### Expected behavior
Tests running without leaks.

[2019-07-04 18:22] hidmic commented on #460
Yes, it is a duplicate.

I understand. Over the course of last week, @wjwwood and I have been discussing about ROS 2 resource addressing in general (be them topics, services, actions, parameters, nodes). As a result of that, I've opened https://github.com/ros2/design/pull/241 and https://github.com/ros2/design/pull/242.

Hmm, I'm not a big fan of the `-p` prefix but I'm not really into the operato

[2019-07-11 22:33] nuclearsandwich commented on #463
The error message is somewhat misleading here and there's more preventing the above from working than just the YAML parsing.

There is not currently a supported parameter datatype for dictionaries/associative arrays. The supported datatypes are listed in the [design doc describing parameters](http://design.ros2.org/articles/ros_parameters.html#supported-datatypes).
Heterogeneous arrays are also no

[2019-07-12 01:14] christianrauch commented on #463
Is it a conceptual issue that this kind of parameter is not supported? I.e. is it possible to support this later or will this never happen?

These kinds of parameters definitely worked in ROS1. For example, this:
[code]
could be could be added to a launch file and represented and used in the node as `XmlRpc::XmlRpcValue`: https://github.com/RIVeR-Lab/apriltags_ros/blob/62fbdc5797e67058a88a2495b196

[2019-07-12 14:01] #252 closed

[2019-07-12 18:07] #246 closed

[2019-07-12 20:30] jacobperron commented on #463
I don't believe there's a conceptual issue. As @nuclearsandwich points out, what needs to be done is to add support for a new datatype to handle dictionaries. In order to do this we should extend  the [rcl_variant_s](https://github.com/ros2/rcl/blob/5fde9c0c0ee887a64df8ead83a021c534a1039db/rcl_yaml_param_parser/include/rcl_yaml_param_parser/types.h#L55) struct. It might make sense to define a new

[2019-07-17 07:54] potentialdiffer opened #472 "rcl package fails to cross compile"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 (VM)
- Installation type:
  - Source
- Version or commit hash:
  - 1bf11ed0c2b53090f990262ba4003d63cb1e5460
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Official Cross Compilation Instruction: https://index.ros.org/doc/ros2/Tutorials/Cross-compilation/#cross-comp

[2019-07-25 05:40] nuclearsandwich commented on #472
Could you please elaborate on the problem you think is present or, ideally, submit a pull request which corrects the problem.

[2019-07-29 18:33] alsora opened #476 "Undefined reference to rcl_logging functions"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - master
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
[code]

#### Expected behavior

I create a node with a custom logging output handler (in this case it should only log to `rosout` topic).

#### Actual behavior

The above code doesn't

[2019-08-07 06:49] bpwilcox opened #481 "Support parameter descriptions in yaml parser"
----
## Feature request
Add support to parse parameter descriptions in yaml file.

#### Feature description

Given that parameters must now be declared and have optional ParameterDescriptors, it would be an enhancement to support parsing of a parameter description from the yaml file format. This could be convenient for users to not have to specify descriptions in code or to change their parameter

[2019-08-07 14:09] JanStaschulat opened #482 "Update API documentation rcl for dashing"
## Feature request

Changes in rcl API are not documented for Dashing.
#### Feature description
For example, ...

rcl_wait_set_init()
https://github.com/ros2/rcl/blob/master/rcl/include/rcl/wait.h#L131
The number_of_events is added as a parameter, but this parameter is not documented!

rcl_take()
a new parameter is introduced: rmw_subscription_allocation_t * allocation
Documentation forthis parame

[2019-08-20 15:52] oneattosecond opened #489 "rcl_yaml_param_parser MAX_STRING_SIZE is quite small --> navigation crashes"
## Bug report

**Required Info:**

- Operating System:
  - MacOS 10.14.x
- Installation type:
  - source
- Version or commit hash:
  - 0.7.5
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - bt_navigator

#### Steps to reproduce issue
check out the repos at a long path like /Users/myname/coolstuff/morestuff/rcl/

build navigation stack, launch navigation via typical launch

[2019-08-20 15:53] oneattosecond commented on #489
see https://github.com/ros-planning/navigation2/issues/1044 for some background if needed.

[2019-08-20 16:09] dirk-thomas commented on #489
Duplicate of the existing PR #487.

[2019-08-20 16:09] #489 closed

[2019-08-20 16:11] dirk-thomas commented on #489
The existing PR proposes to increase the limit to 256. If you have a use for which this isn't sufficient please comment on the PR with more information to consider increasing the limit even further.

[2019-08-22 17:31] wjwwood commented on #476
@alsora can this be closed now that the pr's have been merged? Or is there more to do?

[2019-08-22 17:49] alsora commented on #476
Yes, the PRs fixes this issue.

[2019-08-22 17:49] #476 closed

[2019-09-13 17:26] hidmic opened #500 "Remove deprecated CLI rules on F-Turtle"
## Feature request

#### Feature description

As of #496, ROS specific CLI arguments have changed and what used to be valid syntax as of Dashing is now formally deprecated.

https://github.com/ros2/rcl/blob/0ddc17a042111779ab204a4d92ff582459f3035b/rcl/include/rcl/arguments.h#L38-L58

This will remain true for Eloquent. Starting with F-Turtle, the old syntax must be removed.

[2019-09-18 22:24] jdlangs commented on #489
I'd like to request this issue be reopened. A new maximum size of 256 isn't really changing the core problem of an unnecessarily small parameter size limit. Parameters in ROS1 were often quite huge, such as the entire contents of files (e.g., URDF/SRDF).

Furthermore, does this need to be escalated to a design discussion? I'm pretty sure if a limit of 128/256 bytes had been proposed in the design

[2019-09-18 23:05] oneattosecond commented on #489
@jdlangs totally agree, there shouldn't be limits like this. However I do think it's a dupe of #490, and I'm hoping #490 actually just removes arbitrary limits instead of increasing said limits.

[2019-09-30 19:11] wjwwood opened #510 "provide option to not create logging publisher"
## Feature request

#### Feature description

Currently the node unconditionally creates a publisher for logging:

https://github.com/ros2/rcl/blob/d655147310e3e63aff1555ad40fca1bb9cb7783e/rcl/src/rcl/node.c#L358

This is potentially undesirable in systems which do not need this and have an rmw layer that aggressively preallocates storage for publishers and subscriptions.

There should be some way

[2019-10-02 08:28] fujitatomoya commented on #510
fundamentally it looks like following flag is true,
https://github.com/ros2/rcl/blob/d655147310e3e63aff1555ad40fca1bb9cb7783e/rcl/src/rcl/logging.c#L43

but we do not want to make publisher instance, am i understanding correct?

[2019-10-04 21:51] jaisontj opened #512 "test_arguments failing on colcon test"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04.3 LTS
- Installation type: From source
- Version or commit hash: d655147310e3e63aff1555ad40fca1bb9cb7783e
- DDS implementation: Fast-RTPS
- Client library: N/A

#### Steps to reproduce issue
[code]

#### Expected behavior

All tests should pass.

#### Actual behavior
Output of `colcon build --packages-select rcl && colcon test --p

[2019-10-04 23:12] #512 closed

[2019-10-04 23:12] jaisontj commented on #512
Ignore this issues. This was because the package was built incorrectly.

[2019-10-10 02:34] fujitatomoya commented on #510
@wjwwood

could you take a look at https://github.com/ros2/rcl/pull/514 ? when you got time.

[2019-10-11 21:23] schornakj commented on #489
What was the original motivation behind `MAX_STRING_SIZE`? What would happen if the checks against `MAX_STRING_SIZE` were removed entirely?

Building off @jdlangs 's comment, an example of ROS1 functionality that relies on arbitrary-length string parameters are [the robot description loader launch files in `ur_description`](https://github.com/ipa-led/universal_robot/blob/kinetic-devel/ur_descripti

[2019-10-11 21:29] clalancette commented on #489
For the people using ROS 2 in real-time applications, they'd like to not have memory allocations except at very specific and knowable times (i.e. initialization).  So this fixed-sized string was put in to limit allocations.

I agree that what we currently have is too small.  One compromise we might consider is having fixed-size up to a certain size (like the 256 bytes), and then doing allocations

[2019-10-11 22:21] jdlangs commented on #489
@clalancette, your response is quite unsatisfying to me because it suggests you were perfectly willing to sacrifice general usability for a (relatively) narrow use-case. You also mention "compromise" but what we're talking about here is a substantial regression from ROS1. I hope you don't disagree with what I said above, that if it had been suggested in a design repo PR that string parameters shou

[2019-10-11 22:26] dirk-thomas commented on #489
It will likely not get accepted (if it just removes the limit) since that would break the currently supported real time use case.

[2019-10-14 12:58] clalancette commented on #489
I agree, 128 (and 256) is way too short.  I don't think I've argued otherwise.  But real-time *is* something we want to support, so we need to think about solutions that can support real-time but still provide the functionality others need.  Hence my proposal above.  It's clearly not the only proposal, and I'm open to hearing other suggestions on how we could accommodate both of the use cases.

[2019-10-14 15:07] oneattosecond commented on #489
given the discussion, should we re-open this issue? or at least update https://github.com/ros2/rcl/pull/487 which currently only bumps the size up.

[2019-10-14 15:28] jdlangs commented on #489
The currently open #244 pretty much covers this; discussion should probably be shifted over there.

[2019-10-15 15:54] jdlangs commented on #244
@jacobperron could you provide some thoughts on what you consider configurable? Can we get away with compile-time definitions or is something more complex needed?

[2019-10-15 16:48] jacobperron commented on #244
Compile-time definitions might be okay, but then I guess one would have to compile `rcl_yaml_param_parser` from source to change a value. This is inconvenient if you've installed ROS 2 binaries. It might be nice to have more flexibility and configure these parser parameters at runtime. For example, we could bootstrap parameter parsing by first parsing an optional YAML file containing the parser pa

[2019-10-15 17:52] clalancette commented on #244
Before we go too much further, I took a quick look at the code to make sure I could say something intelligent.  If you look at the places that `MAX_STRING_SIZE` is used ([here](https://github.com/ros2/rcl/blob/master/rcl_yaml_param_parser/src/parser.c#L210), [here](https://github.com/ros2/rcl/blob/master/rcl_yaml_param_parser/src/parser.c#L1119), [here](https://github.com/ros2/rcl/blob/master/rcl_

[2019-10-16 20:17] jdlangs commented on #244
Given the impeding Eloquent feature freeze, is there any quick fix we can get in that would be accepted, especially if it's considered a breaking change? It would be really unfortunate if we ended up being stuck with this regression for another whole release cycle.

[2019-10-16 20:19] dirk-thomas commented on #244
The planned freeze date for Eloquent is in two days. Given that there is not even a proposal at the moment I don't think it is realistic to expect any changes to land in time. (I anyone proves me wrong I am more than happy to see this improved.)

[2019-10-16 20:29] clalancette commented on #244
I will point out that simply increasing the size is something we can do after the Eloquent release, as it shouldn't be an API or ABI break.  I'd still like to hear from @anup-pem about the reasons for the original limitation and downsides to increasing it before making a decision here.

[2019-10-16 20:40] jdlangs commented on #244
My proposal for a quick fix is to compile out the bounds check unless a compile definition is provided. Anyone relying on this bounding behavior (which I suspect is very few people) can build `rcl_yaml_param_parser` instead of using prebuilt binaries until a more comprehensive runtime configuration option can be proposed/designed.

[2019-10-17 20:57] wjwwood commented on #510
Definitely, and so I would be fine with leaving this open and/or closing it but opening a new issue.

[2019-10-17 23:22] jdlangs commented on #244
Since no one spoke up against the compile definition idea, I've created a minimal [PR](#521) for evaluation that implements the proposal.

[2019-10-17 23:37] fujitatomoya commented on #510
@ivanpauno @wjwwood

okay, got it.

what about,
- add rosout enable/disable flag in NodeOption as each node setting.
- and we can also keep the global switch g_rcl_logging_rosout_enabled.

or you already have proposal?

[2019-10-18 00:18] jacobperron commented on #244
I skimmed through the original PR and this is the the only discussion I can find regarding the maximum values: https://github.com/ros2/rcl/pull/235#discussion_r186884689

It's not clear to me why we need any of these max values. If a user tries to provide an unwieldy number of parameter, I think it's fine to let them and risk running out of memory. As @clalancette  pointed out, the current impleme

[2019-10-18 00:50] wjwwood commented on #244
@anup-pem it would be great if you could chime in soon so we can potentially resolve this for eloquent.

Personally I don’t mind removing the limits. I agree they’re doing very little.

[2019-10-18 12:11] ivanpauno commented on #510
Sounds like a good plan!

[2019-10-21 19:45] anup-pem commented on #244
@jdlangs @wjwwood Sorry for the delay in my response. As @clalancette mentioned in his response that it is just used for string array bounds. It is OK to bump up the limits or remove the limits if there is a better way to bound the size

[2019-10-21 20:56] jacobperron commented on #244
I may be wrong, but I'll also point out that these bounds are only currently applying to parameters in YAML files. So, it's still possible for users to violate these limits by passing parameters from the command-line.

[2019-10-21 22:21] #244 closed

[2019-10-21 22:27] clalancette commented on #145
I believe that this was already done by #404 .  So I'll close this out, but feel free to re-open if I'm wrong.

[2019-10-21 22:27] #145 closed

[2019-10-21 22:33] clalancette commented on #119
This was done in #502, so closing.

[2019-10-21 22:33] #119 closed

[2019-10-21 22:36] clalancette commented on #134
I'm fairly certain this is already done, as there are no instances of open-coded `calloc`, `malloc`, or `realloc` in time.c (or anywhere else in rcl, for that matter).  So I'll close this out.

[2019-10-21 22:36] #134 closed

[2019-10-21 22:51] clalancette opened #526 "[YAML parser]: Remove arbitrary limits of MAX_NUM_PARAMS_PER_NODE and MAX_NUM_NODE_ENTRIES"
In #524, we removed the maximum string limit in the yaml parser.  There are also two other hard-coded limits in there:

* [MAX_NUM_NODE_ENTRIES](https://github.com/ros2/rcl/blob/cdf1b4d17dd9058e19d62373c76c8d1ec70f97c0/rcl_yaml_param_parser/src/parser.c#L72) - This is the maximum number of nodes that can be in a single parameters file, and is currently set to 256
* [MAX_NUM_PARAMS_PER_NODE](https:

[2019-10-22 17:53] mogumbo opened #527 "Perform substitutions when parsing yaml"
In ROS1, yaml files could contain substitutions and it was very useful. I'd like to have this feature in ROS2 as well so that params in my yaml files can point to resources in specific packages like this:
[code]

[2019-10-23 16:15] ivanpauno opened #528 "Parameter grouping doesn't work with new command line syntax"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - master
- DDS implementation:
  - Any
- Client library (if applicable):
  - rclcpp (probably the same happens in rclpy)

#### Steps to reproduce issue

[code]

#### Expected behavior
The node is created with the specified parameters.

#### Actual behavior
An err

[2019-10-23 16:15] ivanpauno commented on #528
@hidmic FYI

[2019-10-23 17:43] hidmic commented on #528
As we spoke offline, this is due to an inconsistency in how the YAML parser in `rcl_yaml_param_parser`  names parameters and how `rcl` expects them: the former uses dots (`.`) to flatten dictionaries, the latter expects slashes (`/`).  IIUC we want to go towards slashes, there's even [a design document](https://github.com/ros2/design/pull/241) on it. But it's likely too late to make it uniform eve

[2019-10-23 21:00] clalancette opened #531 "Parameter parsing for `--log-level` doesn't seem to work"
In the [Logging and logger tutorial](https://index.ros.org/doc/ros2/Tutorials/Logging-and-logger-configuration/), there is documentation on how to change the `log_level` at startup time:

[code]

When I run this command, I get some warnings about the syntax being deprecated, followed immediately by a lot of debugging output.

[PR 376](https://github.com/ros2/ros2_documentation/pull/376) changes th

[2019-10-24 02:17] Barry-Xu-2018 commented on #510
@ivanpauno @fujitatomoya @wjwwood

I implemented them.
Could you review my patches ?
#532 and ros2/rclcpp#900

[2019-10-24 03:12] fujitatomoya commented on #510
@Barry-Xu-2018

requesting fix for https://github.com/ros2/rcl/pull/532#pullrequestreview-306297107

[2019-10-24 07:48] Barry-Xu-2018 commented on #510
@fujitatomoya

Thanks for your review.
But I have a question on your comments.
Could you check it https://github.com/ros2/rcl/pull/532#issuecomment-545745768

[2019-10-24 21:18] clalancette commented on #531
Yep, that was it.  This is a documentation bug that will be resolved with https://github.com/ros2/ros2_documentation/pull/376, so I'll close this out.  Thanks @hidmic

[2019-10-24 21:18] #531 closed

[2019-10-25 18:08] jacobperron commented on #528
@hidmic Can this be closed since #530 ?

[2019-11-07 17:55] mjcarroll commented on #528
@hidmic another bump, can this one be closed now?

[2019-11-14 18:20] hidmic commented on #528
Whoops, completely lost the notification. Yes, we can close.

[2019-11-14 18:20] #528 closed

[2019-11-21 13:51] hidmic commented on #481
@bpwilcox could you further expand on a use case for this feature? A node's implementation usually relies on the existence of some parameters, in which case I think they should explicitly declare them and not rely on an external YAML file to do so -- particularly for client libraries in languages that are statically typed and will likely fail ungracefully if things are not the way they should.

[2019-11-21 13:59] hidmic commented on #481
Hmm, https://github.com/ros2/rclcpp/issues/807 suggests a parameter blackboard i.e. not an application-specific node but a generic parameter container. Is that what you had in mind?

[2019-11-21 17:46] wjwwood commented on #526
Closing since https://github.com/ros2/rcl/pull/524 was merged.

[2019-11-21 18:07] clalancette commented on #526
This is actually a separate issue than what was fixed in #524.  That PR was about removing the arbitrary string limit, while this one is about opening the *other* arbitrary limits in the parser.  It's lower priority since they are set pretty high, but it is still something we should look at doing.  So I'll reopen this.

[2019-11-21 18:18] wjwwood commented on #527
I'm going to close this in favor of this approach https://github.com/ros2/launch_ros/issues/96, and we can re-open later if we decide different.

[2019-11-21 18:18] #527 closed

[2019-11-21 23:25] bpwilcox commented on #481
@hidmic The parameter blackboard is a use-case that I believe well deserves this feature, but I believe even application-specific nodes could benefit.

I believe this would be the case as-is, nodes relying on certain parameters may explicitly declare them, but already the YAML provides an opportunity to overwrite these parameters. As it pertains to parameter descriptors, you can overwrite (or decl

[2019-11-22 13:23] #258 closed

[2019-11-28 09:34] BorjaOuterelo opened #539 "Segmentation fault in void __cleanup_context(rcl_context_t * context)"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04.
- Installation type:
  - Binaries.
- Version or commit hash:
  - Dashing, Eloquent, Master.
- DDS implementation:
  - Custom. N/A.
- Client library (if applicable):
  - N/A.

#### Steps to reproduce issue

[code]
Above code in combination with a 'rmw_init` implementation which returns something that is not RMW_RET_OK,

#### E

[2019-11-30 10:28] cjsJack opened #542 "ros2 eloquent debug model"
when I use ros2 eloquent debug version, in windows, if I use some command, like ros2 or ros2 topic list, there will be some error,

## Bug report
Failed to load entry point 'list': No module named 'netifaces'
Failed to load entry point 'list': No module named 'netifaces'
Failed to load entry point 'load': No module named 'netifaces'
Failed to load entry point 'standalone': No module named 'netifac

[2019-11-30 10:30] cjsJack opened #543 "ros2 eloquent debug model"
when I use ros2 eloquent debug version, in windows, if I use some command, like ros2 or ros2 topic list, there will be some error,

## Bug report
Failed to load entry point 'list': No module named 'netifaces'
Failed to load entry point 'list': No module named 'netifaces'
Failed to load entry point 'load': No module named 'netifaces'
Failed to load entry point 'standalone': No module named 'netifac

[2019-11-30 10:32] #542 closed

[2019-12-02 17:26] dirk-thomas commented on #543
Please follow the install instructions to install the missing dependency `netifaces`: https://index.ros.org/doc/ros2/Installation/Eloquent/Windows-Install-Binary/#install-dependencies

[2019-12-02 17:26] #543 closed

[2019-12-03 09:03] BorjaOuterelo opened #545 "Move filesystem utility to rcutils"
## Feature request

#### Feature description

Move file system dependant functionality to `rcutils` will increase the ROS 2 possible targets.

https://github.com/ros2/rcl/blob/3a5c3a34191bd95491cb72c7458b9409452a28f0/rcl/src/rcl/node.c#L320

In this concrete case, I propose to `move rcl_get_secure_root` API to `rcutils`.
This way, rcl will be "easy" to cross-compile for systems with no filesystem.

[2019-12-03 09:49] cjsJack commented on #543
Thanks for solution, it can't work also, in ros2-eloquent-release version
model can work well, but when I use ros2-eloquent-debug version model, it
can't work, like this
C:\Windows\system32>ros2
Failed to load entry point 'list': No module named 'netifaces'
Failed to load entry point 'list': No module named 'netifaces'
Failed to load entry point 'load': No module named 'netifaces'
Failed to load e

[2019-12-03 15:06] dirk-thomas commented on #543
Did you install `netifaces` using `pip` and the Python debug interpreter?

[2019-12-03 20:14] jacobperron commented on #545
It's probably better to consolidate discussion. To reiterate my comment (https://github.com/ros2/rcl/pull/544#issuecomment-561336558):

[2019-12-03 20:20] jacobperron commented on #545
I found the past discussion I was thinking about in #332. In particular, I agree with this https://github.com/ros2/rcl/pull/332#issuecomment-448072660:

[2019-12-04 02:08] cjsJack commented on #543
Hi:
Thanks again, if I install  netifaces using pip and the Python debug
interpreter  by commanding python_d -m pip install --force-reinstall
netifaces, it also can't work, error will like the following:
C:\Windows\system32>ros2
Failed to load entry point 'list': Module use of python37.dll conflicts
with this version of Python.
Failed to load entry point 'list': Module use of python37.dll conflict

[2019-12-04 02:46] jacobperron commented on #543
@dirk-thomas Correct me if I'm mistaken, but if you want to run ROS 2 Python code with the debug interpreter, not all of the dependencies can simply be installed via pip. For our CI jobs, we [install manually created debug wheels](https://github.com/ros2/ci/blob/950d454332432f077b9c9acbed798d65f879791a/ros2_batch_job/__main__.py#L508-L512) for certain packages (including `cryptography` and `netifa

[2019-12-04 03:33] cjsJack commented on #543
Thanks for support, I install the packages following the doc, when I run
ros2, it is ok,
[image: 捕获.PNG]
But when I run ros2 topic list, it will also appear some error, like this:
[image: 捕获.PNG]
And also, when I run rviz2, it still fail, like this:
[image: 捕获.PNG]
Because our team using ros2-eloquent-debug binary in windows to debug some
project, and develop some function, so we must use ros2-elo

[2019-12-04 03:35] jacobperron commented on #543
@cjsJack We're unable to see the images you are posting. Please copy-paste the output when possible.

[2019-12-04 03:43] cjsJack commented on #543
Thanks for support, I install the packages following the doc, when I run
ros2, it is ok,
'
https://github.com/ros2/ros2/releases/download/cryptography-archives/cffi-1.12.3-cp37-cp37dm-win_amd64.whl',
# required by cryptography
'
https://github.com/ros2/ros2/releases/download/cryptography-archives/cryptography-2.7-cp37-cp37dm-win_amd64.whl',

'
https://github.com/ros2/ros2/releases/download/lxml-ar

[2019-12-04 08:57] BorjaOuterelo commented on #545
I do agree with the #332 comment, isolate rcl from security configuration giving the users the right to implement theirs.

and

are appealing to us.

Is there any roadmap for such changes?

[2019-12-04 20:19] jacobperron commented on #545
I'm not aware of any explicit roadmap, but we can start by using this ticket for tracking progress.

[2019-12-05 21:30] #539 closed

[2019-12-06 02:39] jacobperron commented on #543
@cjsJack To clarify, did you try running a commands like the following?

[code]

[2019-12-06 09:07] cjsJack commented on #543
yes, but also will appear some error, when I run ros2, ros2 topic list or
rviz2

Jacob Perron <notifications@github.com> 于2019年12月6日周五 上午10:39写道：

[2019-12-06 20:15] jacobperron commented on #543
Based on the error message "Module use of python37.dll", it sounds like it's possible you might be mixing debug and release packages. But it's difficult to say without being able to reproduce your environment.

[2019-12-08 09:05] Jesus805 opened #550 "Linking error on Raspbian Buster"
## Bug report

**Required Info:**

- Operating System:
Raspbian Buster Lite
- Installation type:
From source
- Version or commit hash:
ROS2 eloquent
- DDS implementation:

- Client library (if applicable):

#### Steps to reproduce issue
I am building from source using the following ROS2 link.
https://index.ros.org/doc/ros2/Installation/Eloquent/Linux-Development-Setup/
However, I generated the rep

[2019-12-08 15:45] dirk-thomas commented on #550
This looks more like a duplicate of that ticket. Can you please clarify what you think is different compared to the already existing ticket?

[2019-12-08 18:08] Jesus805 commented on #550
Hm, I didn't know different repositories shared the same tickets. I suppose it is a duplicate and can be closed. I just wanted to report that this issue is also happening in rcl

[2019-12-08 19:05] dirk-thomas commented on #550
Since this looks like a systematic issue and it probably applies to each and every repo I think a single ticket is sufficient.

[2019-12-08 19:05] #550 closed

[2019-12-09 21:27] ivanpauno opened #551 "`rcl_configure_logging` and `rcl_logging_fini` are called multiple times when creating multiple contexts"
## Feature request

#### Feature description

Currently, if many contexts are created, [rcl_logging_configure](https://github.com/ros2/rcl/blob/024c3ee50d9b79a85665efe1c191cc1225026519/rcl/src/rcl/init.c#L125) is called many times, overriding preexisting configurations silently.
Same happens with [rcl_logging_fini](https://github.com/ros2/rcl/blob/024c3ee50d9b79a85665efe1c191cc1225026519/rcl/src/r

[2019-12-12 18:17] wjwwood commented on #526
Consider documenting on a "limits page", like this one: https://sqlite.org/limits.html

[2019-12-16 06:59] fujitatomoya commented on #510
@wjwwood @ivanpauno

is there anything we could help you via this thread? if not, could you close this issue?

Best,

[2019-12-16 12:32] felixdivo commented on #463
This would really make things easier, and people should rightfully be able to expect (at least that degree of) YAML support for something that is called a YAML file.

[2019-12-16 17:36] ivanpauno commented on #510
Thanks for the reminder. I think that everything has been done.
Thanks for the contributions @fujitatomoya @Barry-Xu-2018 !

[2019-12-16 17:36] #510 closed

[2019-12-19 23:48] nickolai-voyage opened #552 "No documentation for clock types"
## Feature request

Please add documentation for the different clock types, i.e. RCL_STEADY_TIME, RCL_SYSTEM_TIME

#### Feature description
There's no documentation about the differences between these times. I'm guessing that STEADY_TIME is monotonically increasing just based on the name, but it would be really nice to have actual documentation. Something that gets into the doxygen docs would be g

[2019-12-22 04:47] guru-florida opened #553 "SIGABRT parsing yaml config file (double free detected)"
## Bug report
rclcpp::init(...) causing SIGABRT while parsing config yaml that is well formed yaml but not valid ROS2 parameters format. For example, if yaml has only a single underscore in ros__parameters.

- Operating System: Ubuntu 19.04 on x64 and also reproduced on RPI4 using Ubuntu 19
- Installation type: source
- Version or commit hash: eloquent branch
- DDS implementation: default
- Client

[2019-12-24 04:00] fujitatomoya commented on #551
@ivanpauno @wjwwood

let me take care of this, will get back to you.

Best

[2019-12-25 05:48] fujitatomoya commented on #551
@ivanpauno

my thoughts are the followings,

- logging confiration is based on global arguments, so should be initalized and finalized once in the process space.
- rcl_logging_configure will be changed into rcl_logging_init to keep the name consistency for rcl_logging_fini.
- Thread-Safe is not supported, just to get along with current implementation.
- reference counter is provided to keep the co

[2019-12-28 08:42] zihui0325 commented on #472
I also have the same problem when I cross compile. It fails when cross compiling `tf2_ros` and `rclcpp_components` package.
The error log
[code]
It seems like that `libbuiltin_interfaces__rosidl_typesupport_fastrtps_c.so` and `libbuiltin_interfaces__rosidl_typesupport_fastrtps_cpp.so` don't link to dependencies properly. I check the  ros `install/lib` directory, and all the warning libs are exist.

[2020-01-02 13:11] ivanpauno commented on #551
Sounds good, thanks!

Yeap, I agree. Alternativly, we could have some context dependent logging configs, but I don't think that's a good idea (and definetly, much more work).

That sounds reasonable, though it's not required. You can skip that in the first iteration, in order to minimize changes in upstream packages.

I would ensure thread safety in logging init-fini functions, to avoid strange ru

[2020-01-03 17:52] jacobperron commented on #553
If a parameter file is malformed, it might actually be safer to fail instead of letting rcl_init continue. Passing incorrect values to a node (e.g. defaults) could be bad for an application, resulting in unexpected behavior.

We should still fix the crash and instead return an appropriate error code.

[2020-01-03 17:59] jacobperron commented on #552
Here's the design document describing the clock types: https://design.ros2.org/articles/clock_and_time.html

@nickolai-voyage Would you like to contribute a pull request adding API documentation?

[2020-01-03 20:31] guru-florida commented on #553
Yes, I agree with SIGABRT preferably with a stderr line preceding it would be the safe bet, or std::exception with what() filled in.

[2020-01-13 05:09] hangcui1201 commented on #550
It seems the fix method for rcutils and rcl are different. One is adding target_link_libraries(test_atomics_executable ${PROJECT_NAME} -latomic) in the CMakeLists.txt for rcutils. How about rcl? Thanks!

[2020-01-13 06:17] Jesus805 commented on #550
@hangcui1201 I was able to build by adding ```add_link_options(-latomic)``` in each CMakeLists.txt that wouldn't build.

For example in `rcl/CMakeLists.txt` line 31
[code]

[2020-01-14 00:28] hangcui1201 commented on #550
@Jesus805 Thank you so much!

[2020-01-16 08:52] iquater opened #555 "yaml parser raises an error "Sequence should be of same type" when meets .nan in list of doubles"
ros2 launch raises an exception while parsing list with .nan value

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - dashing
- DDS implementation:
  -  Fast-RTPS
- Client library (if applicable):
  - rclcpp, rclpy

#### Steps to reproduce issue
Create python or cpp package:
[code]
launch file:
[code]
configuration file
[code]

#### Expected behav

[2020-01-16 17:21] dirk-thomas commented on #555
Loosely related to ros2/rosidl#351.

[2020-01-16 17:42] ivanpauno commented on #551
@fujitatomoya are you planning to contribute in this one?

[2020-01-16 23:49] jacobperron commented on #553
I tried to reproduce the issue, and the double free only occurs when using the deprecated syntax e.g.

        ros2 run demo_nodes_cpp talker __params:=bogus_config.yaml

If we use the recommended syntax then I don't see the double free:

        ros2 run demo_nodes_cpp talker --ros-args --params-file bogus_config.yaml

And we get a more informative error message:

    'Couldn't parse params file:

[2020-01-17 13:26] guru-florida commented on #553
Thanks @jacobperron for the fix! Regarding the deprecated syntax, this bug surfaced using python launch file description...perhaps that is using the old syntax and should be updated to use the new?

[2020-01-17 18:57] jacobperron commented on #553
@guru-florida Are you able to share a launch file that I can use to reproduce the issue?

[2020-01-17 19:42] jacobperron commented on #553
Nevermind, I guess this is the fix for the issue you were seeing: https://github.com/ros2/launch_ros/pull/106

It will be backported to Eloquent and should be fixed in the next patch release:  https://github.com/ros2/launch_ros/pull/115

[2020-01-21 07:27] fujitatomoya commented on #551
@ivanpauno

yes, i am going to do it, i am positive that i can do that in this week.
if urgent, somebody else takes over.

it was just hard to squeeze time...sorry to be late to get back to you.

[2020-01-23 05:58] fujitatomoya commented on #551
@ivanpauno

could you share your thoughts on https://github.com/ros2/rcl/pull/560 ?

i am not so sure that we need to ensure thread safe on this function, maybe warning should be enough.

[2020-01-23 08:44] fujitatomoya commented on #552
@nickolai-voyage

is there any reason you picked up RCL_STEADY_TIME, RCL_SYSTEM_TIME in particular?

i guess that https://design.ros2.org/articles/clock_and_time.html should be okay for application since rcl is not exactly the front-end. what do you think?

[2020-01-24 16:07] wieset commented on #463
I was surprised today to find that ros2 only supports very basic yaml structure and had to resort to parsing by myself to avoid changing the whole structure. In addition to mixed type dictionaries & lists it would also be nice to see anchors / aliases supported.

Any reason ros2 is using its own parser instead of e.g. yaml-cpp?

[2020-01-28 12:10] y-okumura-isp commented on #469
It may be a very very small problem, I'd like to work on it.

In `TEST_F(CLASSNAME(TestSubscriptionFixture, RMW_IMPLEMENTATION), test_subscription_nominal)`,
`rcl_subscription_t subscription` is initialized three times but `rcl_publisher_fini` only last time in this function.

By using local scope as below, the test is passed in my environment.
If OK, I'll send PR.

[code]

[2020-01-29 01:06] jacobperron commented on #553
This was fixed by https://github.com/ros2/rcl/pull/556.

[2020-01-29 01:06] #553 closed

[2020-01-29 17:15] jacobperron commented on #463
The ROS 2 parameter parser uses the third-party parser from [libyaml](https://pyyaml.org/wiki/LibYAML). I think we are not using yaml-cpp specifically because `rcl` is written in C not C++.

If you'd also like to see other YAML features supported, feel free open a feature request, or even better a pull request :)

[2020-01-30 00:51] jacobperron opened #561 "Unable to remap from a private namespace"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Source
- Version or commit hash:
  - 7537f8304493e9b9568748b5601f5c1b7fa463f0
- DDS implementation:
  - N/A
- Client library (if applicable):
  - rcl / rclcpp

#### Steps to reproduce issue

Modify the [demo_nodes_cpp talker](https://github.com/ros2/demos/blob/53286a56662dc3ab69b8feece6630451dd114940/d

[2020-01-30 07:43] y-okumura-isp commented on #469
BTW asan reports illegal memory usage for other tests such as `test_graph__rmw_fastrtps_dynamic_cpp`.
I'm fixing them (to pass all test in asan is my immediate plan).

[2020-01-30 17:28] wieset commented on #463
That makes sense. I must have missed that, sorry. Will open a feature request.

[2020-01-30 19:03] ivanpauno commented on #555
@iquater Thanks for opening the issue. This is not currently supported, but it's a desired feature.
A PR adding support to special floating point values is more than welcome.

[2020-01-31 10:09] wieset opened #563 "[YAML parser] Support for anchors/aliases"
## Feature request

#### Feature description
Anchors/aliases are useful in YAML to avoid repetition, when several configuration blocks share the same group of parameters.

Example:

[code]

An anchor (denoted by a leading "&")  precedes either a scalar, a sequence or a mapping. An alias (denoted by a leading "*") corresponds to an anchor of the same name. The parser should insert the anchored bloc

[2020-01-31 13:06] y-okumura-isp commented on #469
Next I send PR for test_arguments.

[2020-02-03 08:42] y-okumura-isp commented on #469
PR for test_publisher.

[2020-02-03 09:44] y-okumura-isp commented on #469
PR for test_count_matched

[2020-02-05 19:37] hidmic commented on #561
I can confirm this is happening. And yes, it's a bug.

[2020-02-11 19:17] ivanpauno opened #574 "Add tests checking when a graph guard condition is triggered"
## Feature request

#### Feature description

There are currently some tests for this ([here](https://github.com/ros2/rcl/blob/2daa408ea46bb2a4305a6221d73ea400e4c02d62/rcl/test/rcl/test_graph.cpp#L1231)), but those are a bit fragile and aren't checking that the graph guard condition is being triggered for all the possible graph changes.

#### Implementation considerations

I imagine the tests look

[2020-02-13 16:14] ivanpauno commented on #469
Fixed by https://github.com/ros2/rcl/commit/19d53bc9e5110f4b66f5f57cce16fd5404daa18b.

[2020-02-13 16:14] #469 closed

[2020-02-20 08:48] jacobperron commented on #545
I've closed the connected `rcutils` PR and re-titled this issue. Rather than moving security utilities to `rcutils`, I think we should move the implementation to a separate package that clients can choose to opt out of. E.g. `rcl_security`

[2020-02-26 15:34] de-vri-es opened #581 "Expose QoS settings for /rosout publisher"
I have noticed that sometimes during node startup, some messages don't arrive at `/rosout` subscribers. I could never replicate this on my own Linux hardware, but I have witnessed it on a Windows PC. Log messages from the first 30 to 100ms would not arrive at a subscriber.

I imagine this could be fixed by changing the QoS settings of the publisher. However, I don't believe we have access to the p

[2020-02-26 16:32] dirk-thomas commented on #581
While exposing the QoS settings would be great I think the default still needs to be different. Currently it uses `rmw_qos_profile_default` but something like `rmw_qos_profile_parameters` which changes the depth to 1000 and the duratbility to transient local would be more appropriate.

See #582 for the proposal. @de-vri-es It would be great if you could give this patch a try and comment if that re

[2020-02-26 21:54] de-vri-es commented on #581
That does sound like a good idea. I'm not very familiar with compiling on Windows, which is where I witnessed the issue, but I'll try my best to test it.

[2020-02-29 00:14] rotu opened #585 "rcl test `test_publisher_init_fini` does not `fini`"
The tests in `test_publisher_init_fini` create a publisher (`rcl_publisher_init`) without finalizing it (`rcl_publisher_fini`). This causes a failed assertion in CycloneDDS in debug mode when tearing down the node (`rcl_node_fini`), and possibly a memory leak. It's clear from the name of the test that the test was *intended* to have fini calls, but it's not clear whether or not RCL and/or CycloneD

[2020-02-29 00:14] rotu commented on #585
FYI: @eboasson

[2020-02-29 16:51] eboasson commented on #585
That hash table stores refcounted "sertopic" objects and the RMW layer caches references to these in its publisher and subscription objects. The absence of ``rcl_node_fini`` means the RMW objects are not properly finalised, which in turn keeps the sertopic alive.

They are only ever used for writing a serialized message, so there is something to be said for not caching them at all in the subscript

[2020-02-29 22:05] rotu commented on #585
Don’t these sertopics need to be around for as long at the topic may be sent or received so they *do* have to be cached first the lifetime of the publisher/subscriber?

[2020-03-01 08:24] eboasson commented on #585
@rotu, yes, but because they _have_ to be around they are already managed by Cyclone: each topic entity carries a reference to the associated sertopic, ensuring they will remain in existence while there is still data. The refcounting of these things is to allow multiple DDS topic entities to share the same sertopic (this is what relies on those compare and hash functions where you found a few issu

[2020-03-02 21:20] #552 closed

[2020-03-03 15:37] dennis-adlink commented on #585
@rotu I've fixed the sertopic referencing issue, see the two PR references above. Cyclone now takes ownership of the sertopic and returns a pointer to rmw that can be safely used during the lifetime of the topic/writer.

[2020-03-03 16:17] reed-lau opened #586 "Create an inner publisher(rosout) in low level API may destroy ROS2's Perfection"
https://github.com/ros2/rcl/blob/ca64525029991809ee22dd4f082d6539c41c7f88/rcl/src/rcl/logging_rosout.c#L36

From the crystal version, the node will create an inner publisher with the topic name `/rosout` as a component of the ROS log-system.
when there are few nodes, it worked ok. But for a relatively complex system. the inner publisher will cost much and connected together under some rmw-implenen

[2020-03-04 12:33] ivanpauno commented on #581
Deleted the `bug` label after https://github.com/ros2/rcl/pull/582 and #587, the defaults qos are now nicer.
I will left this open, as exposing the qos would still be an improvement.

[2020-03-04 12:46] de-vri-es commented on #581
Sounds good. Thanks all for the quick action  :)

[2020-03-09 17:55] maryaB-osr commented on #482
closed because dashing is a bit older now, but it's still in use so reopening, also because I need to check if this was updated for eloquent+

[2020-03-10 06:48] reed-lau commented on #586
@dirk-thomas

[2020-03-10 13:19] ivanpauno commented on #586
@reed-lau I think that doing the rosout publisher opt-in instead of opt-out would be reasonable.
Can you propose a PR doing that?

[2020-03-10 13:48] clalancette commented on #586
My opinion is that *most* users want rosout, and the ones that don't are the exception.  Thus, I think that opt-out is more reasonable.  But others can chime in as well.

[2020-03-10 14:11] ivanpauno commented on #586
In general I prefer defaulting to the option that creates minimal overhead and then opt-in everything else, than trying to guess what *most* users want (i.e.: following the "zero cost abstraction" principle). But I understand it's a matter of preference.

In the future, we could add something like "ROS profiles", where all this stuff could be configured from an external file (e.g.: specified with

[2020-03-10 15:19] reed-lau commented on #586
it should aim at an industrial level, not a toy. when we use ROS, we need a framework, not a total solution.

[2020-03-10 15:25] clalancette commented on #586
But we have users who are just getting started in robotics, academics, industrial users, automotive users, government users, etc.  We want to serve all of those groups as well as possible, so my opinion is that we should do the things that make it easy to get started, while still giving the power to do more advanced things for more advanced users.  Hence my opinion that `rosout` be opt-out.

[2020-03-10 15:28] dirk-thomas commented on #586
It is configurable to make it suitable for all kinds of applications. Especially for industrial applications you shouldn't have a problem configuring it to your needs. Why is opt-out a problem for your use case?

And again, that is why the API is designed in a way which let's you configure your own backend. If you think any part needs improvement please consider to contribute valuable feedback or

[2020-03-10 15:59] ivanpauno commented on #586
Doing this option opt-in or opt-out wouldn't affect the suitability to be industrial level, as it can be configured properly.

[2020-03-10 16:10] reed-lau commented on #586
ok, I'll try my best to learn about it, thank you for answering.

[2020-03-10 20:35] Blast545 opened #594 "Coverage builds not taking into account all testing files"
## Bug report
**Required Info:**
Ubuntu Bionic, installed from source, master

I ran a coverage build for the `rcl` package on `master` and realized the coverage results are skipping a test included in master, the file `service_fixture.cpp`, it is not listed on the coverage report:
[Coverage report rcl on master](https://ci.ros2.org/job/ci_linux_coverage/48/cobertura/src_ros2_rcl_rcl_test_rcl/)

T

[2020-03-10 20:39] Blast545 commented on #594
@j-rivero Could you take a look to this? You may have a better idea to what's causing this issue and help me fix it

[2020-03-12 16:43] claireyywang commented on #585
@dennis-adlink @rotu safe to close this issue?

[2020-03-12 16:45] rotu commented on #585
@claireyywang no, the test still doesn’t exercise the creation and destruction that it’s supposed to. It should.

[2020-03-12 16:49] rotu commented on #585
Also I’m still not clear whether this is a correct use of the rcl API (deleting a node with live publishers). If so, both use cases should be tested

[2020-03-17 20:27] j-rivero commented on #594
During my time working on the coverage reports I modify and played quite a bit with lcov and github actions but did not really touch the coverage jobs in the buildfarm. Giving a look to the console log I can not find the problem so reproduce the build locally (as you did) would be my next step.

As a side note: the fixtures are being installed and part of the user interfaces provided by the packag

[2020-03-18 13:28] Blast545 commented on #594
Those fixtures are part of the testing suite only. To me, the relevant part was trying to figure out why this was happening because potentially could be a bigger issue. A brief look to [coverage CI](https://ci.ros2.org/job/ci_linux_coverage/55/cobertura/src_ros2_rcl_rcl_test_rcl/) does not show the service_fixture.cpp, wondering why this happens, I am pointing to an issue with pytest configuration

[2020-03-18 15:06] j-rivero commented on #594
Agree. In fact I run into some problems for coverage using pytest (I finally invoke them without colcon) and that PR could have helped. What happen is you run the coverage using that PR locally? Does the coverage report change somehow?

[2020-03-18 17:57] Blast545 commented on #594
When I run coverage locally the report shows the file, but shows the `service_fixture.cpp` file with 0% of coverage. As if it wasn't run with the coverage tools, but indexed to be taken into account.

[2020-03-19 06:13] #586 closed

[2020-03-19 18:20] Blast545 opened #602 "Progress toward Quality Level 1"
This issue tracks the progression of packages in `rcl` that have been deemed necessary for Quality Level 1 and a 1.0 version level. It follows the outline described in [REP 2004](https://github.com/ros-infrastructure/rep/blob/rep-2004/rep-2004.rst).

The packages slated for Quality Level 1 for ROS 2 Foxy are:
- rcl
- rcl_action
- rcl_lifecycle
- rcl_yaml_param_parser

# Progress common to all pack

[2020-03-19 19:27] hidmic commented on #460
This is complete since:

- [x] https://github.com/ros2/rcl/pull/477
- [x] https://github.com/ros2/rcl/pull/483
- [x] https://github.com/ros2/rcl/pull/491

Closing.

[2020-03-19 19:27] #460 closed

[2020-04-09 21:44] tfoote opened #611 "Nightly failure on aarch64 rcl.TestTwoExecutablesAfterShutdown.test_services (from rcl.test_services__rmw_cyclonedds_cpp_Release.launch_tests)"
This has failed two nightlys in a row

https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_release/1126/testReport/rcl/TestTwoExecutablesAfterShutdown/test_services/

I've been unable to reproduce this on an aws aarch64 bionic machine but have been able to reproduce it in CI on focal

https://ci.ros2.org/job/ci_linux-aarch64/5630

Using this gist: https://gist.github.com/tfoote/dc6c33491124

[2020-04-09 22:10] tfoote commented on #611
I now have found a reliable failure. And I found it only after installing docker as will be obvious from the below warnings.

And there's extra console output that does not make it into our builds console logs nor the test output.

[code]

<details>

[code]

<details>

[2020-04-09 22:57] tfoote commented on #611
With the stricter limits in #613 I can now focus the issue down to the client becoming ready:

[code]

[2020-04-10 05:16] #500 closed

[2020-04-14 17:09] jacobperron commented on #611
Possibly related: https://github.com/ros2/system_tests/issues/420

I've seen issues in several places related to services, in particular clients talking to servers.

[2020-04-20 19:27] sloretz commented on #585
This part of `rcl_node_fini` suggests deleting the node with live publishers is a valid use case.

https://github.com/ros2/rcl/blob/0a795cc776ebedf36b003db23a2246e022d9518b/rcl/include/rcl/node.h#L156-L157

The documentation suggests `rcl_publisher_is_valid()` will return false after `rcl_node_fini()` is called, though it's unclear if the publishers to still need to be `...fini()`'d.

https://gith

[2020-04-20 21:55] sloretz commented on #585
* The test in question was fixed by https://github.com/ros2/rcl/pull/567.
* Document finalization order expectation in `rcl_node_fini()` and `rcl_pub/etc_fini()` in https://github.com/ros2/rcl/pull/625
* Document `rmw` may assume correct order destruction in https://github.com/ros2/rmw/pull/216

Since the test was fixed already, I'll close this issue and let the documentation PRs stand on their ow

[2020-04-20 21:55] #585 closed

[2020-04-20 21:57] rotu commented on #585
Thanks, @sloretz!

[2020-04-21 02:46] wjwwood commented on #585
I think the assumption was that if you fini the node, it would fini any "children" automatically, making any "dangling" pointers to those things, like a `rcl_publisher_t` now invalid. But it is definitely preferable to fini things in the reverse order of initialization.

[2020-04-21 18:22] mjcarroll opened #628 "Convert sleep_for into count_subscriptions logic"
## Feature request

#### Feature description

Converting from TODO for visibility: https://github.com/ros2/rcl/blob/94b5a1d7d0899aa84a1026e21488bee95e67bbd8/rcl/test/rcl/test_subscription.cpp#L178-L180

There are a few places in the `test_subscription` code (and possibly other places) where we make use of a fixed delay to wait for publications/subscriptions to become available.  This should be con

[2020-04-22 09:26] Barry-Xu-2018 commented on #628
@mjcarroll

I have an interest in implementing it.
I start to implement it.

[2020-04-22 15:48] mjcarroll commented on #628
Thanks @Barry-Xu-2018!  Looking forward to your pull request, let me know if you run into any issues.

[2020-04-23 02:27] Barry-Xu-2018 commented on #628
@mjcarroll

I have made PR.
Please review #631.

[2020-05-01 14:59] alsora opened #638 "Wrong INTERFACE_LINK_LIBRARIES in rcl_yaml_param_parser"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - master of 1st May 2020

#### Steps to reproduce issue

This issue is probably related to https://github.com/ros2/ros2/issues/904

I built ROS 2 from sources, then I moved the compiled workspace to a new directory
[code]

I source the environment specifying the new p

[2020-05-01 15:52] dirk-thomas commented on #638
This is being addressed by ros2/libyaml_vendor#16.

[2020-05-01 15:52] #638 closed

[2020-05-05 21:55] tfoote opened #643 "Create a separate Steady Time datatype instead of having it embedded as an enumeration of time types"
Steady Time is a fundamentally different type than ROS Time and giving it it's own type will allow us to leverage compile time checking of the datatype instead of runtime. For steady time it can also contain logic to compare and verify the epoch ID for any other steady time to make sure you're comparing across the same epoch.

There's a related issue to create a message to represent it as well: ht

[2020-05-12 21:06] jacobperron commented on #602
FYI, we now have a 1.0.0 release: https://github.com/ros/rosdistro/pull/24843

[2020-05-15 00:06] jacobperron commented on #628
Looks like this was resolved in #631.

[2020-05-15 00:06] #628 closed

[2020-05-15 17:54] rotu opened #651 "Ignored return value from rcl_logging_external_set_logger_level"
The return value of `rcl_logging_external_set_logger_level` is ignored at: https://github.com/ros2/rcl/blob/f92e52a2bb6956fb754256959d35fa5e809f7839/rcl/src/rcl/logging.c#L98

[2020-05-15 21:29] #651 closed

[2020-05-18 06:20] ahcorde opened #655 "Improve error messages in rcl_lifecycle"
`rcl_lifecycle` is using only two kind of errors: `RCL_RET_ERROR` and `RCL_RET_OK`. There is room for improvement here. We should add a more accurate error message.

[2020-05-18 18:17] brawner commented on #655
Thanks for opening the issue @ahcorde! For reference, this follows up #649, where we decided to hold off on changing return codes until after the foxy release

[2020-05-19 13:56] fujitatomoya commented on #551
@ivanpauno

i guess that we can close this since https://github.com/ros2/rcl/pull/560 is merged.

[2020-05-19 14:04] ivanpauno commented on #551
Yes, https://github.com/ros2/rcl/pull/579 https://github.com/ros2/rclpy/pull/518 and https://github.com/ros2/rclcpp/pull/998 fixed this.

It would nice too modify the logger so that its configuration isn't global, but that's a different issue.

[2020-05-19 14:04] #551 closed

[2020-05-27 23:07] jacobperron commented on #370
Duplicate of https://github.com/ros2/rcl/issues/460, which has been resolved.

[2020-05-27 23:07] #370 closed

[2020-06-02 15:09] Blast545 opened #669 "rcl_get_localhost_only function not returning a rmw_localhost_only_t value"
While adding tests for the `rcl` package I realized the `localhost.c` function `rcl_get_localhost_only` uses this logic to return the possible value of the localhost_only variable:

https://github.com/ros2/rcl/blob/e47042cba4f32f77b361d0f87d905b9386cadde8/rcl/src/rcl/localhost.c#L44

Which only returns `0` or `1`, but the current possible values for this variable are `0-1-2`, as implemented in [rm

[2020-06-02 20:20] Blast545 commented on #669
After checking the expected usage of this function, it is expected that the result of this function to be a boolean value because the result coming from this is then fed to `rmw_create_node()` that takes `localhost_only` value as a boolean.

I think the solution to this would be changing the `rcl_get_localhost_only` signature to return boolean instead.

[2020-06-08 14:38] Blast545 commented on #669
Closed with #670

[2020-06-08 14:38] #669 closed

[2020-06-16 15:48] hidmic opened #687 "rcl_wait() returns early when a timer awakes"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - From source
- Version or commit hash:
  - [master](https://github.com/ros2/rcl/tree/7723308e7c7f7515590bd709525fd840b4aed254)
- DDS implementation:
  - RTI Connext

#### Steps to reproduce issue

Run timer tests using `rmw_connext_cpp`.

#### Expected behavior
Tests pass.

#### Actual behavior
Often, tes

[2020-06-16 15:50] hidmic commented on #687
One potential workaround would be to relax [the definition of a ready timer](https://github.com/ros2/rcl/blob/7723308e7c7f7515590bd709525fd840b4aed254/rcl/src/rcl/timer.c#L300) using a platform specific time tolerance, and even make that configurable for a user to tune it.

[2020-06-16 15:55] hidmic commented on #687
Alternatively, since it's quite likely not every possible timer period can be achieved due to time resolution constrains, the expectation on `rcl` timers' period could be relaxed to be just an average quantity over some time window.

[2020-06-16 15:55] hidmic commented on #687
CC @ivanpauno @wjwwood @peterpena

[2020-06-16 16:51] clalancette commented on #687
I guess what I don't understand about this is that if you ask for 1 nanosecond sleep, then yeah, it might take the OS considerably longer than that to return (maybe on the order of 10ms for time slicing).  But if you ask for 10ms sleep, the OS should *never* return in 9 ms; that's just not doing what the user application asked for.

Extending this to `rmw_wait()`, I would expect the same thing.  I

[2020-06-16 17:08] hidmic commented on #687
That is true for a plain sleep, but arguable for a time deadline (and even more so if you want to sustain some periodicity, but that's unrelated to `rmw_wait()`). And I have the impression that may be the case in Windows under specific circumstances (see second paragraph in this MSVC documentation [article](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/timer-accuracy)). We do no

[2020-06-16 17:26] wjwwood commented on #687
I agree with @clalancette about the expectation that it should never return before the time period the user specified. This is the case on Linux and macOS, and I would have extended that to rmw_wait or dds_wait, but maybe that's not guaranteed.

That block from the Microsoft docs makes me sad, but basically I agree it could end early based on that, assuming that's the same kind of timer that is be

[2020-06-16 17:41] hidmic commented on #687
That's fair for `wait()` APIs, but I'm not entirely convinced we should ignore how this affects `rcl` timers performance if we consistently overshoot timer timeouts. Or the documentation should be explicit about timer periods being a rough lower bound.

I agree with updating `wait()` APIs documentation accordingly. Specifying what clock that timeout is defined against would be good too.

[2020-06-16 17:54] ivanpauno commented on #687
:+1:

:+1: I think this one is the problem we have to solve.

It's not only that.
`rmw_wait` uses **always** the system clock (at least for [connext](http://community.rti.com/rti-doc/510/ndds/doc/html/api_cpp/classDDSWaitSet.html#acf4f30344c6341439d8f498c00313d97)), and timers can use any clock.
Thus, I think the logic in `rcl` to decide the `rmw_wait` duration isn't valid, and can be problematic

[2020-06-16 18:37] hidmic commented on #687
There's that too, yeah. And waking up earlier won't do if the timer clock goes faster than the system's (typical in CI settings using simulation with an RTF > 1). This is a separate issue though.

I will say that a delay (or sleep) and a timeout are two conceptually different things. If you ask for a 10ms _delay_, then yes, you'd expect it to last 10ms _at least_. But if you set a 10ms _timeout_,

[2020-06-16 18:40] clalancette commented on #687
I will point out that that MSVC article says that starting on Windows 8, `KeDelayExecutionThread` is a lot more precise.  It doesn't say anything about `KeWaitForSingleObject` or `KeSetTimer`, so I assume they still have the old behavior and can wake up early.  Unfortunately, we don't really know which of the APIs Connext is using.

To be fair, on a non-realtime OS, all timer periods are a rough l

[2020-06-16 18:54] hidmic commented on #687
That is true. Not sure about embedded ROS though.

IMHO the choices that `select()` (or any other POSIX API) makes about how to deal with clock resolution is of no consequence. It does make it way easier to implement if the specified time is greater than 0 but less than one clock resolution unit. We can make the same choice, I just think we can do better.

[2020-06-16 20:15] brawner commented on #687
I think resolving this issue could also resolve some rclpy related failures:
https://github.com/ros2/rclpy/issues/267
https://github.com/ros2/rclpy/issues/513

[2020-06-16 20:47] wjwwood commented on #687
Yeah, I can't agree with this either. For me a timeout is always "we'll start trying to exit after this period of time". In fact I'd never assume it comes back before or "on time".

[2020-06-16 21:09] ivanpauno commented on #687
:+1: too

[2020-06-16 21:19] hidmic commented on #687
Oh well, I guess we agree to disagree.

In any case, we have an `rmw_wait()` that may return too early and an `rcl_timer` that depends on it not doing that. I'll try to come up with a patch to fix the latter. For `rmw_connext_cpp` maybe we can ask RTI for clarification?

[2020-06-16 21:40] ivanpauno commented on #687
AFAIR, those failures are due to the timer waking up too late (windows server scheduler time slice is much bigger than macOS and linux). They might also be related with this though.

[2020-06-17 20:56] hidmic commented on #687
@neil-rti maybe you can weigh in here.

[2020-06-22 14:18] Blast545 commented on #594
CI infrastructure changed and this is no longer a bug to report, closing this.

[2020-06-22 14:18] #594 closed

[2020-07-13 13:00] Barry-Xu-2018 opened #713 "Missing to call rcl_lifecycle_transition_fini() and rcl_node_fini() in lifecycle test"
## Bug report

**Required Info:**

- Operating System:
    All
- Installation type:
  Binaries and From source
- Version or commit hash:
   master branch (0de31d04830)
- DDS implementation:
   Any

#### Steps to reproduce issue

Check codes

Part 1

https://github.com/ros2/rcl/blob/944068f3d99d6a4b1130fd62e38c69b96f0e759e/rcl_lifecycle/test/test_rcl_lifecycle.cpp#L134-L143

Part 2
https://github.c

[2020-07-13 19:25] Karsten1987 commented on #713
Thanks for reporting this issue. I think this goes in hand with what we see at the nightly builds as well:
[code]

do you mind opening a pull request for this?

[2020-07-13 23:35] fujitatomoya commented on #713
@Barry-Xu-2018

could you change the title? there are double `call` in the head of the title.

[2020-07-14 00:51] Barry-Xu-2018 commented on #713
@Karsten1987

Yes. I will fixing it.
Please assign this issue to me.

[2020-07-14 00:52] Barry-Xu-2018 commented on #713
@fujitatomoya

OK. I worry about the title is too long. So I just describe one problem in title.

[2020-07-14 03:05] fujitatomoya commented on #581
@dirk-thomas @ivanpauno @de-vri-es
CC: @Barry-Xu-2018

anybody working on this? if not, we could take care of this thread.

[2020-07-14 08:22] Barry-Xu-2018 commented on #713
@Karsten1987

I find the cause.
It is bug in test codes. I will fix it.

[2020-07-15 09:28] Barry-Xu-2018 commented on #713
@Karsten1987

I have updated above comments to explain the problem reported by you (https://github.com/ros2/rcl/issues/713#issuecomment-657746623).
Please take a look.

[2020-07-15 20:37] dirk-thomas opened #716 "test_action_client failing on Windows debug"
The test was introduced in #663 and has been failing since then, e.g. https://ci.ros2.org/view/nightly/job/nightly_win_deb/1682/testReport/(root)/projectroot/test_action_client/

[2020-07-15 23:16] brawner commented on #716
Opened PR to fix https://github.com/ros2/rcl/pull/717

[2020-07-16 04:28] fujitatomoya commented on #713
@Barry-Xu-2018 @Karsten1987

Since the overwrite condition is notified, I do not see this is a problem but status.

I think failure of registering transitions and memory leak is different, current code cannot support failure w/o memory leak case. And to support the memory leak case, `rcl_copy_error_string` backed with __rcutils_copy_string would be introduced?

[2020-07-16 07:18] Barry-Xu-2018 commented on #713
@fujitatomoya

Yes. It should be warning on error state to be overwritten.

About  `memory leak` mentioned by you,  https://github.com/ros2/rcl/issues/713#issuecomment-657746623 doesn't lead memory leak.
[code]
After rclreset_error(), fini_error point to empty string. Error message has been reset.
This leads `RCL_SET_ERROR_MSG_WITH_FORMAT_STRING` output empty error message.

[2020-07-16 07:31] fujitatomoya commented on #713
i wasn't clear on this, my bad. i do understand what you mean. i was mentioning the "Freeing transition map failed while handling a previous error. Leaking memory!" message.

[2020-07-16 07:56] Barry-Xu-2018 commented on #713
Got it. Even if this error said memory leak, actually failure is because `allocator` is set to nullptr for test.
transition map isn't initialized successfully since `allocator` is nullptr. So there is no memory leak.

[2020-07-16 08:44] Barry-Xu-2018 commented on #713
@Karsten1987

About https://github.com/ros2/rcl/issues/713#issuecomment-657746623, the solution mentioned at  https://github.com/ros2/rcl/issues/713#issuecomment-658043362 has problem.

Below is updated solution.
Please check it.
https://github.com/Barry-Xu-2018/rcl/commit/a8e848736b0df5e794fdf43c561da927463cf6e5

[2020-07-16 23:46] #716 closed

[2020-07-17 21:47] ivanpauno commented on #581
AFAIK, nobody is working on this.

Usually, people assign themselves when they are working on something (though they might forget :joy:).
We don't usually address issues marked as `help wanted`. Of course, PRs targeting a `help wanted` issue are more than welcomed.

[2020-07-20 20:37] Karsten1987 opened #721 "memory leaks in rcl(tests)"
while debugging #715 I came across that quite some tests are actually leaking memory. I haven't looked into whether these are related to the tests or actually something within rcl itself.

for `test_node__rmw_fastrtps_cpp`:
[code]

for comparison, the same test with cyclonedds:
[code]

[2020-07-21 09:47] Ada-King commented on #581
Hi, @ivanpauno @fujitatomoya  I made a PR for this issue, now only rcl/rmw layer was implemented. As for the rclcpp layer, i have already finished a design draft, which we can discuss later, For now, can you take a quick look for [253](https://github.com/ros2/rmw/pull/253) && [722](https://github.com/ros2/rcl/pull/722) in your spare time?

[2020-07-23 01:24] Barry-Xu-2018 commented on #713
@Karsten1987

Since fixing (https://github.com/ros2/rcl/pull/715) was merged, I close this issue.

[2020-07-23 01:24] #713 closed

[2020-08-04 12:30] ivanpauno commented on #581
Solved in https://github.com/ros2/rcl/pull/722

[2020-08-04 12:30] #581 closed

[2020-08-07 21:38] Blast545 opened #735 "Loaned functions returning rcl_ret_t use rmw_ret_t"
Loaned functions as `rcl_borrow_loaned_message`:

[code]

Make a call to a `rmw` function and the result is returned as a `rcl_ret_t`. I think for those it's needed an additional `rcl_convert_rmw_ret_to_rcl_ret` call. Let me know your thoughts and I'll open a PR accordingly.

[2020-08-10 12:40] clalancette commented on #735
Yep, looks like it.  Seems reasonable to me to open a PR to fix that.

[2020-08-11 07:03] iuhilnehc-ynos commented on #721
@Karsten1987

I'd like to contribute to this issue.

[2020-08-11 08:14] iuhilnehc-ynos commented on #721
@Karsten1987

I found there are four issues in your descriptions.

1. rcl_parse_arguments (not detect. maybe some commit fixed it.)

2. rmw_fastrtps_shared_cpp::__rmw_create_wait_set

    It seems that https://github.com/ros2/rmw_fastrtps/blob/0d039e6d0f944448ba2d26a6d0b83795745f60fc/rmw_fastrtps_shared_cpp/src/listener_thread.cpp#L171-L175 should move after https://github.com/ros2/rmw_fastrtps/bl

[2020-08-11 08:32] iuhilnehc-ynos commented on #721
I'll try to find a method to solve item `3`.

[2020-08-11 09:32] iuhilnehc-ynos commented on #721
About item `3`, it needs `static_cast<std::string*>(pbuf)->~basic_string<char>();` before free.
But It seems hard to put it into cyclonedds ( or rmw_cyclonedds).

[2020-08-11 13:44] #735 closed

[2020-08-11 21:27] hidmic opened #740 "Error handling often overwrites errors already set"
## Bug report

**Required Info:**

- Operating System:
  - All Tier 1 platforms
- Installation type:
  - From source
- Version or commit hash:
  - Current [master](https://github.com/ros2/rcl/tree/f9a28d65cf2bdb6fb9373988c372caba3f6bfed5)

#### Steps to reproduce issue

Run `rcl` tests locally:
[code]

#### Expected behavior

All tests pass and no error handling error (an overwrite) is reported vi

[2020-08-11 21:31] hidmic commented on #740
IMO our main issue here is that there's no clear path forward. Even if we decide to rely on all libraries sharing the same error handling state, `rcutils` error handling API was not designed to ease error propagation, and suppressing portions of an error chain either decontextualizes an error message or obscures its origin.

[2020-08-11 21:31] hidmic commented on #740
FYI @Blast545 @brawner.

[2020-08-12 03:05] fujitatomoya commented on #721
I confirmed that we don't see this memory leak with https://github.com/ros2/ros2/commit/91d8a43ed28edbe04f4ea361c493b19758e35877

[2020-08-12 04:46] fujitatomoya commented on #721
@iuhilnehc-ynos
CC: @Karsten1987

I agree on this. if the message taken via `rmw_take` is local(same participant), it will continue the loop w/o destroying wait_set.

I did confirm that following patch can avert the memory leak problem observed in valgrind.

[code]

would you create PR?

[2020-08-12 05:56] Karsten1987 commented on #721
Great that you've found already some potential improvements. Feel free to open a PR on the related repository and link them to this issue.

[2020-08-12 06:23] iuhilnehc-ynos commented on #721
@fujitatomoya

Yes, I'll create it later.

[2020-08-12 07:30] llapx commented on #655
I just modify the headers files, mainly for document, if it's OK, I will push the code, thanks!

[2020-08-12 14:59] Blast545 commented on #740
For future reference, discussion started here: https://github.com/ros2/rcl/pull/734#discussion_r468098092

I am not really sure what's the best way to tackle this. Thought a little on this, what if a "build" flag is set then the overwritten errors are print to stderr and if not set the error is overwritten without the warning?

[2020-08-12 17:09] hidmic commented on #740
Hmm, a possible outcome of this discussion is that we start setting error messages in every C function in a call chain. If we do that, then putting a message on `stderr` saying that there was an error with error handling and a previous message was overwritten will never be correct.

[2020-08-15 21:19] nuclearsandwich opened #749 "Subscription tests segfaulting in CentOS"
## Bug report

**Required Info:**

- Operating System:
  - CentOS Linux
- Installation type:
  - source
- Version or commit hash:
  - master, as of c749682
- DDS implementation:
  - rmw_fastrtps_cpp, rmw_fastrtps_dynamic_cpp, rmw_cyclonedds_cpp

#### Steps to reproduce issue

Run test_subscription tests on CentOS 7.
See [nightly CentOS Linux release](https://ci.ros2.org/view/nightly/job/nightly_li

[2020-08-18 02:42] chapulina opened #750 "👩‍🌾 get_node_names test failing on macOS"
## Bug report

**Required Info:**

- Operating System:
  -  macOS
- Installation type:
  -  source
- Version or commit hash:
  - `master` since 2020-08-16
- DDS implementation:
  -  FastRTPS
- Client library (if applicable):
  -  N/A

#### Steps to reproduce issue

Do the same setup as CI:

https://ci.ros2.org/job/nightly_osx_release/1754/consoleFull

#### Expected behavior

All tests pass

#### A

[2020-08-18 15:37] hidmic commented on #749
I'll take a look.

[2020-08-18 17:38] wjwwood commented on #740
What is supposed to happen is that when you encounter an error with an rcutils function, like `failed to duplicate string`, from within an rcl function is that you collected the rcutils error, add it to your error, clear the error state, and return with a new error state set, something like `failed to initialize publisher: failed to duplicate string`.

Any proposal to make this easier needs to (in

[2020-08-18 17:42] hidmic commented on #749
So, the problem is that CentOS deals with function trampolines differently. I haven't dug enough, but it'd almost seem like somehow it keeps a single `.got.plt` section for all shared objects so it we taking the address of a function, it can pass around the address of the function trampoline w/o breaking ODR. Unfortunately, that means we cannot call the original function from within the mock in Ce

[2020-08-18 19:02] hidmic commented on #740
That's one way forward, but I will point out that:

- Propagating error states with the current API is clunky. Namely, chaining error states properly is hard, and we don't do it almost anywhere. It gets even harder when errors occur while handling errors (see https://github.com/ros2/rcutils/issues/269).
- Error handling buffers usually span a 4k page. If we use them to build backtraces, we have to

[2020-08-18 22:02] #749 closed

[2020-08-19 00:34] gbiggs commented on #740
Chunkiness can be fixed with a better API. But what interests me about your comment is the errors-while-handling-errors thing. Is this actually different from propagating an error from below?

[2020-08-19 15:06] hidmic commented on #740
Sure. I was just stating that if we go that way we probably have to roll out new API.

If we want to build human-readable backtraces, errors that occur while dealing with errors cannot simply be chained. But perhaps that's a non-issue if we settle on always printing to `stderr` on https://github.com/ros2/rcutils/issues/269.

[2020-08-19 17:20] wjwwood commented on #740
I don't get this point, my suggestion was to not build backtraces but to handle existing errors properly, only combining their message text, as needed, into a single error state at all times. I don't see how we could run out of space.

If you're worried about the stack you can allocate error state objects on the heap, but I doubt that will be an issue.

[2020-08-19 18:32] hidmic commented on #740
Consider how would the error message look like if we start chaining errors using the "new message : old message" pattern (including file path and line number) in a 5+ levels-deep call stack. It seems to me that, to keep it readable, we have to format it as if it was a backtrace.

The buffer can hold up to 4096 characters. Let's say that on average the file path is ~70 characters long and the log m

[2020-08-19 19:20] wjwwood commented on #740
I meant running out of space on the stack, not in the error message. Sorry if that wasn't clear.

If the error message gets deep it will look silly, but it will contain a lot of information, which might be useful. If the underlying causes are no longer important, you could choose to summarize the issue at any point in the chain.

[2020-08-24 02:02] gbiggs commented on #740
I can see the value in having a backtrace-style output going down to the real source of an error, but I wonder if that's better handled by using log files to trace back to error causes. A backtrace mechanism sounds like complexity that is not strictly necessary.

It would look cool, though.

I think this is important. We should probably be going case-by-case and understanding what the user needs t

[2020-08-25 00:41] jacobperron commented on #750
I'm pretty sure this is my fault. I ran CI for some broken tests related to composable nodes that left some nodes running (hence the node name "mock_component_container"). AFAIK, this only affected our macOS machines since they are not containerized. I noticed these zombie nodes about a day after running the buggy test and since killed them.

It's still possible to run into a similar issue in the

[2020-08-26 17:35] dirk-thomas opened #767 "test_client failing with Connext"
See https://github.com/osrf/buildfarmer/issues/84#issuecomment-681015489

Test `rcl/test_client` failing with Connext on Linux and macOS:

* ci.ros2.org
  * https://ci.ros2.org/view/nightly/job/nightly_linux_debug/1669/testReport/
  * https://ci.ros2.org/view/nightly/job/nightly_linux_release/1652/testReport/
  * https://ci.ros2.org/view/nightly/job/nightly_osx_debug/1749/testReport/
  * https://c

[2020-08-26 18:34] brawner commented on #767
Addressed over at https://github.com/ros2/rosidl_typesupport_connext/pull/60

[2020-08-26 20:53] #767 closed

[2020-08-27 06:19] Barry-Xu-2018 commented on #574
@ivanpauno

I want to make clear the requirement of this issue.

After checking test in [rcl/test/rcl/test_graph.cpp](https://github.com/ros2/rcl/blob/master/rcl/test/rcl/test_graph.cpp), existing test cases are to wait graph guard condition triggering after graph is changed (such as calling rcl_publisher_init()).
e.g.
test case `test_graph_guard_condition_topics`

https://github.com/ros2/rcl/blob

[2020-09-02 19:39] #555 closed

[2020-09-03 02:54] fujitatomoya commented on #721
@Karsten1987

i think you can close this issue, if we are missing something, let us know.

[2020-09-03 03:06] iuhilnehc-ynos commented on #721
@fujitatomoya

Actually, I am ready to fix all tests in `rcl`.

[code]

[2020-09-03 03:12] fujitatomoya commented on #721
@iuhilnehc-ynos

in that case, we should make another issue to address? i thought this issue is to fix the https://github.com/ros2/rcl/issues/721#issue-662238882. i think that it would be nice to keep the history clearly. and maybe the problem could not be `rcl`, so maybe we could create meta-ticket to manage sub-issues for each component? what do you think?

[2020-09-03 03:18] iuhilnehc-ynos commented on #721
@fujitatomoya

I was thinking to make a new issue and then relate it to this manager issue if I found that memory leaks in a specific test executable file.

I agree with it.

[2020-09-03 15:58] ivanpauno opened #787 "test_rcl_lifecycle failing with cyclonedds"
Example failure: http://build.ros2.org/view/Rci/job/Rci__nightly-cyclonedds_ubuntu_focal_amd64/

I think this error output is the problem:

[2020-09-03 15:59] ivanpauno commented on #787
@brawner this seem to have been introduced in https://github.com/ros2/rcl/pull/731, is that the case?

[2020-09-03 16:05] ivanpauno commented on #787
FYI @azeey as buildfarmer

[2020-09-03 17:53] brawner commented on #787
Thanks for bringing this to my attention. #731 likely introduced the test that uncovered this bug. We've been seeing this happen with cyclone and connext, where additional bugs surface after the fault injection PRs are merged. I'll take a look at it and figure out a bug fix

[2020-09-03 19:25] brawner commented on #787
That was pure hubris. This test failure was all my doing and there were no additional bugs to fix in rmw_cyclonedds_cpp. It makes me wonder why calling `rcl_shutdown` without calling `rcl_node_fini` worked with the other rmws.

[2020-09-03 19:45] ivanpauno commented on #787
I think that calling destruction functions in the correct order is UB currently (to give a different example, destroying a publisher after destroying the "parent" node).
In some rmw implementations, doing it in the opposite order might be ok, but in some others it might fail.

[2020-09-03 20:47] #787 closed

[2020-09-04 03:07] iuhilnehc-ynos opened #789 "rcl_[publisher/subscription]_event_init not to deallocate event->impl if not return successfully"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - e88b63ba3c153dec6f1e5f0cc76137a728d68e42
- DDS implementation:
  - cyclonedds or fastrtps
- Client library (if applicable):
  - rcl

#### Steps to reproduce issue

[code]

#### Expected behavior
No memory leak

#### Actual behavior
<details><summary> memory leak via

[2020-09-04 03:32] Barry-Xu-2018 commented on #721
@Karsten1987 @fujitatomoya @iuhilnehc-ynos

Based master branch, we find memory leak in below test cases.
We will create sub-issues for these memory leak problems. Now #789 has been created by iuhilnehc-ynos.

| test executable file                                     | memory leak | Created sub-issues |
|:--|:-:|:--|
|./test_client__rmw_cyclonedds_cpp                         | YES ||
|./test_even

[2020-09-04 05:01] fujitatomoya commented on #721
@Barry-Xu-2018
CC: @iuhilnehc-ynos @Ada-King

sounds good to me, thanks. but maybe maintainer would prefer to create dedicated issue.

[2020-09-04 22:38] azeey opened #792 "test_logging_rosout test failing on macOS"
## Bug report

**Required Info:**

- Operating System:
  - macOS Mojave
- Installation type:
  - source
- Version or commit hash:
  - master since 2020-09-03
- DDS implementation:
  - RTI Connext

#### Steps to reproduce issue
The test TestLoggingRosoutWithDifferentSettings is failing on macOS repeated CI with the following log
[code]

The test [history](https://ci.ros2.org/view/nightly/job/nightl

[2020-09-07 08:40] Barry-Xu-2018 opened #793 "Created rmw subscription/publisher handle isn't freed while failing to get qos from rmw in rcl_subscription/publisher_init()"
## Bug report

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - a80e55b
- DDS implementation:
  - fastrtps and cyclonedds
- Client library (if applicable):
  - rcl

#### Steps to reproduce issue

[code]

#### Expected behavior

No memory leak

#### Actual behavior

[code]

[2020-09-07 08:49] Barry-Xu-2018 commented on #793
The cause is

[code]
While rmw_subscription_get_actual_qos() failed, execute fail codes.
Only free  `subscription->impl`, but  `subscription->impl->rmw_handle` isn't freed.

rcl_publisher_init() has the same problem.

[2020-09-07 09:14] Barry-Xu-2018 commented on #721
@Karsten1987 @fujitatomoya

iuhilnehc-ynos and I have finished analyzing all memory leak cases in above table.
For current implementation problem (Not test codes problem), we create below 2 issues. Other problems are related to test codes, etc. We wait for Karsten1987 suggestion on how to deal with these problems (Whether create sub-issues ?)
- #789
- #793

[2020-09-07 10:20] Barry-Xu-2018 commented on #793
The fixing has been submitted.
#794

[2020-09-08 20:17] #789 closed

[2020-09-10 19:09] clalancette commented on #750
We haven't seen this in a while, and we know the root cause.  It can still happen in the future, but for now I'm going to close this bug out.

[2020-09-10 19:09] #750 closed

[2020-09-14 05:21] iuhilnehc-ynos commented on #526
@clalancette

I'd like to contribute to this feature.

Main idea: I'm going to remove these two MACROS for rcl_node_params_s/rcl_params_s  by adding a capability that will be automatically updated with num_params[num_nodes] * 2 if num is not enough which adding an item.

[2020-09-14 08:47] iuhilnehc-ynos opened #799 "Memory leak because of mock test"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - f3396a2a7dcf061d92642a8dd2af0b1673d36057
- DDS implementation:
  - fastrtps
- Client library (if applicable):
  - rcl

#### Steps to reproduce issue

[code]

#### Expected behavior
No memory leak

#### Actual behavior
<details><summary> memory leak via valgrind </su

[2020-09-14 12:07] clalancette commented on #526
@iuhilnehc-ynos Fantastic, great to hear.  I'll assign this ticket to you; please feel free to request my review on any PR that you open for this.

[2020-09-15 14:28] #799 closed

[2020-09-16 10:31] iuhilnehc-ynos commented on #296
It seems that this feature is still not supported in ros2. I'd like to contribute to this issue.

[code]

[2020-09-21 02:57] iuhilnehc-ynos opened #806 "Remap two nodes with same node name in different namespaces"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source
- Version or commit hash:
  - 8bcada7b884693644d7ba2e3bd2c22fd9541eba7
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

- use [Order of Applying Remapping Rules](https://design.ros2.org/articles/static_remapping.html#order-of-applyi

[2020-09-21 03:27] iuhilnehc-ynos commented on #806
I know after this fix, the old usage in user applications must be updated,
Updating from
[code]
to
[code]
but I think using this order of remapping rules that remapping namespace before name name seems no limitation.

[2020-09-21 10:38] iuhilnehc-ynos commented on #296
Actually, I found `--param` can also support this feature. After this issue, I'll create a new PR for `--param`.

[2020-09-22 01:28] iuhilnehc-ynos commented on #296
To remap __node and __ns with `a fully-qualified node's name`, such as `-r /my_talker:__ns:=/ns1 -r /talker:__node:=my_talker` (current remapping order) or `-r /talker:__ns:=/ns1 -r /ns1/talker:__node:=my_talker`(if remmaping namespace before node name, https://github.com/ros2/rcl/issues/806), I need to update two functions by adding `namespace`.
https://github.com/ros2/rcl/blob/8bcada7b884693644d

[2020-09-22 02:48] iuhilnehc-ynos commented on #296
@wjwwood

I have created a new PR for this issue at https://github.com/ros2/design/pull/299 that also including https://github.com/ros2/rcl/issues/806, could you please help review it?

[2020-09-22 03:23] iuhilnehc-ynos opened #808 "Use hash map for rcl_params_t and rcl_node_params_s"
## Feature request

#### Feature description
Currently, `find_node` and `find_parameter` use a loop find with an array to get an item which costs O(n), it's better to use a hash map instead of the array to store data so that it will costs O(1).

#### Implementation considerations
[code]

[2020-09-22 03:24] iuhilnehc-ynos commented on #808
FYI, @clalancette

[2020-09-22 05:41] iuhilnehc-ynos commented on #301
I'd like to contribute to this issue. I think that `rcl_yaml_param_parser` should notify user it's a error if there is a namespace named with an empty name inside `//`.

[2020-09-22 06:17] iuhilnehc-ynos commented on #301
@sloretz

I have found a way to fix it by adding `rmw_validate_namespace` behind the following source code,
https://github.com/ros2/rcl/blob/8bcada7b884693644d7ba2e3bd2c22fd9541eba7/rcl_yaml_param_parser/src/namespace.c#L48-L51
but it seems we need `rmw_validate_namespace` to check if a name is a valid namespace by using `rmw` dependency for `rcl_yaml_param_parser`.

or use one of the following wa

[2020-09-22 07:27] Barry-Xu-2018 commented on #721
The cause for test_wait__rmw_cyclonedds_cpp／test_wait__rmw_fastrtps_cpp／ test_wait__rmw_fastrtps_dynamic_cpp

The test leading memory leak is
https://github.com/ros2/rcl/blob/8bcada7b884693644d7ba2e3bd2c22fd9541eba7/rcl/test/rcl/test_wait.cpp#L96-L113

After call `set_failing_allocator_is_failing(allocator, true);`, rcl_wait_set_resize() will execute below macro.

https://github.com/ros2/rcl/blob/

[2020-09-23 02:11] Barry-Xu-2018 commented on #721
@Karsten1987 @fujitatomoya

All analysis has been finished.
Please look at table in https://github.com/ros2/rcl/issues/721#issuecomment-686881339.
The problem which we think it should fix has created issue and submitted fix.
Other problem which we think it doesn't need to fix are explained in that table.

[2020-09-23 02:41] iuhilnehc-ynos commented on #301
Which seems not good may be the best choice.

NOTE: I found that using `rmw_validate_namespace` has some limitations because there are some extra rules, such as "/**" (maybe more in the future), need to be parsed.

[2020-09-23 05:08] fujitatomoya commented on #721
- failing_realloc()
  lgtm, i think this makes sense, `deallocate` is necessary to free previous memory, and the fails on `realloc`.

- failing_free()
  with your fix, it doesn't actually fail free memory. but failing `free` memory is supposed to mean memory leak to me. I do not see the purpose of `failing_allocator` is not memory leak, so i think i agree with it.

I'd like to hear from others tho

[2020-09-23 05:27] fujitatomoya commented on #301
http://design.ros2.org/articles/topic_and_service_names.html#name-tokens tells us `Topic and service name tokens: must not be empty, e.g. the name //bar is not allowed`. So I believe that it should be failed with `//bar`. (besides, addressing redundancy is going to be a problem how redundancy we take care, this would be more complicated.)

[2020-09-23 06:54] fujitatomoya commented on #806
@iuhilnehc-ynos

I have the following result, it is slightly different from yours. (with https://github.com/ros2/ros2/commit/ca09b31ce2851773cf722e1fe1e64b70ee651fdd)

[code]

could you confirm the problem?

[2020-09-23 07:03] fujitatomoya commented on #806
okay, now i see it. sorry i was too early to ask you.

[2020-09-23 09:54] iuhilnehc-ynos commented on #806
Never mind. Do you think if we should reorder the remapping of node name and namespace?

[2020-09-23 10:03] Barry-Xu-2018 commented on #721
@fujitatomoya

Refer to the manual of remalloc(), there is below sentence
`If  realloc() fails, the original block is left untouched; it is not freed or moved.`

So failing_realloc() doesn't free original block is the same behavior like realloc().
Beside, consider failing_free(), I think current test with memory leak is `acceptable`.
Therefore, I tend to keep it as it is (Need not to fix anything)

[2020-09-23 12:35] fujitatomoya commented on #721
@Barry-Xu-2018

okay, i think memory leak could be acceptable only in test with purpose, if we keep the consistency of failing functions.
but at least we should be able to tell this problem for future because we do not want to re-do the same investigation when valgrind detects it. at least doc should be added in test code to tell us test can lead to memory leak.

anyway, we can wait for the commen

[2020-09-23 16:53] ivanpauno commented on #574
Yeah, that test isn't really reliable (those timeouts may be a problem), but that's the basic idea.
Instead of using a thread, I would call functions that have "graph side-effects" and then wait (with a reasonable timeout) to see if the graph guard condition was triggered, sequentially (one at a time).

Anything that has a "graph side-effect" and isn't currently tested is worth adding.

With a "gr

[2020-09-24 15:35] #526 closed

[2020-09-24 19:26] jacobperron commented on #792
This hasn't occurred on my watch, but I wouldn't be surprised if it's flaky given the test depends on waiting for a subscription to be ready.

[2020-09-25 02:51] Barry-Xu-2018 commented on #574
@ivanpauno

Got it.  Thanks for your explanation.
I or @Ada-King will continue to handle this issue.

You can ignore this unclear question.

[2020-09-28 03:33] Barry-Xu-2018 commented on #574
@ivanpauno

Please review #811

[2020-09-28 22:01] ivanpauno opened #814 "Finalizing a zero initialized context is not allowed, contrary to the semantics of all the others rcl_*_fini functions"
## Feature request

#### Feature description

For most rcl objects, the following code works:

[code]

That's not the case for `<type> = context`, in that case it's returning `RCL_RET_INVALID_ARGUMENT`,

e.g.:
- [rcl_publisher_fini](https://github.com/ros2/rcl/blob/9ad5d5c649129e412d4eccf8f670f2bd97d53f3e/rcl/src/rcl/publisher.c#L239).
- [rcl_subscription_fini](https://github.com/ros2/rcl/blob/9ad

[2020-09-28 22:25] hidmic commented on #814
I fully agree, but I'd argue finalization of a zero initialized object should not succeed, and code attempting to finalize any given object more than once it's not handling ownership and/or lifetimes properly.

[2020-09-29 08:43] s-hillerk opened #815 "[Foxy backport] Improve error message for malformed YAML files"
## Bug report

Passing a malformed YAML parameter file crashes nodes without hinting at the cause. The symptoms are the same as #553:
[code]

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - ROS2 deb repo via apt
- Version or commit hash:
  - ros-foxy-rcl 1.1.7-1focal.20200921.18150
- DDS implementation:
  - default
- Client library (if applicable):
  - (rclpy)

##

[2020-09-29 13:37] ivanpauno commented on #814
I don't mind one way or the other, but I would like to have standardized behavior.

The pattern of initialization we use in `rcl` is pretty much the same of what in cpp is called "two steps" initialization.
You have a noexcept default (or zero) constructor, an init function that may fail, and the destructor always run either you called the init function or not.
If you use that analogy, the `rcl_*_

[2020-10-05 13:58] clalancette commented on #815
I think this is essentially a request to backport #556 to Foxy (since I confirmed that it is fixed on the latest).  I'll add this to the Foxy board for a backport.

[2020-10-05 13:59] clalancette commented on #815
Help doing this would be appreciated.

[2020-10-05 15:03] ahcorde commented on #655
Closed via https://github.com/ros2/rcl/pull/742

[2020-10-05 15:03] #655 closed

[2020-10-09 19:18] jacobperron commented on #301
I think the issue is a bit more general. While I agree a namespace containing `//` in a parameters file should cause an error,  I think *any* invalid namespace should cause an error. This includes namespaces starting with (or containing) invalid characters, e.g. `/123`. I think we can argue the same for node names. Currently, any string for node names seems acceptable (or silently ignored) in the

[2020-10-09 21:47] jacobperron commented on #815
With the latest release `1.1.8`, we don't see a double free error, but instead:

[code]

Which has a better error message, though we could probably improve things so that we avoid overwriting the error state.

[2020-10-10 01:23] #808 closed

[2020-10-14 16:39] ivanpauno commented on #806
what happens if you do:

[code]

does thus work?

Based on the [design doc](https://design.ros2.org/articles/static_remapping.html#order-of-applying-remapping-rules), I think it should be used like that.

[2020-10-14 17:16] ivanpauno commented on #792
Connext discovery is sometimes slow, I would extend the 10 retries to 50 (max wait time goes from 1s to 5s).

[2020-10-15 02:49] fujitatomoya commented on #793
@Barry-Xu-2018 @clalancette

i think that we can close this.

[2020-10-15 02:51] fujitatomoya commented on #721
@Karsten1987 @Barry-Xu-2018

i think we can close this, since https://github.com/ros2/rcl/issues/721#issuecomment-686881339 all problems have been addressed.

[2020-10-15 03:28] iuhilnehc-ynos commented on #806
No, it doesn't work. This's my expectation, so I think we need to update the design document of `Order of Applying Remapping Rules`

[2020-10-15 12:02] #793 closed

[2020-10-15 13:22] ivanpauno commented on #806
Ah, ok. Yeah reading the docs again that doesn't work.

Remapping two nodes that originally have a different name to a same new name but with a different namespace doesn't seem possible.
I'm wondering if that use case is important, why would someone want to do that? I mean, picking a different names for both doesn't seem to be bad, and it avoids the issue.

The only downside of the current approac

[2020-10-15 17:26] sloretz commented on #814
+1 to `fini` being allowed to fini a zero initialized struct.

Say there is a C function that initializes and fini's a temporary object. If fini can safely fini a zero-initialized thing, then it's safe to have a common cleanup routine without tracking if a thing is already initialized.

[code]

It seems intuitive for a C++ user since it's [safe to delete a nullptr](https://stackoverflow.com/questi

[2020-10-15 17:26] cottsay commented on #814
It might be noteworthy that for variable-length types elsewhere in the codebase (like arrays, vectors, etc), we must allow a zero-initialized object to be finalized because a properly initialized struct with a size of `0` _could_ result in a zero-initialized struct on systems where `malloc(0)` is allowed to return `NULL` under normal operation. That specific case clearly doesn't apply here, but it

[2020-10-15 17:26] clalancette commented on #814
Yeah, I agree with @sloretz about this for the same reasons.

@wjwwood to give an opinion here as well.

[2020-10-16 22:56] ros-discourse commented on #545
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2020-10-15/16849/1

[2020-10-19 16:11] jacobperron commented on #815
I'm going to close this since it looks like the error message has been improved since the latest release for Foxy.

[2020-10-19 16:11] #815 closed

[2020-10-19 16:44] #301 closed

[2020-10-21 15:48] hidmic commented on #687
With https://github.com/ros2/rmw/pull/275, `rmw_wait()` API documentation now mentions this little timing detail. I still have to benchmark modified timers in #707 though.

[2020-10-23 14:50] ros-discourse commented on #545
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-without-a-file-system/16942/1

[2020-10-26 17:50] ros-discourse commented on #545
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-without-a-file-system/16942/4

[2020-10-26 18:40] jacobperron commented on #814
:+1: For changing the behavior of `rcl_context_fini` for consistency. I went ahead and proposed the change: https://github.com/ros2/rcl/pull/842

[2020-10-27 11:10] fujitatomoya commented on #721
@Karsten1987

ping friendly.

[2020-10-27 13:12] clalancette commented on #721
I'm going to go ahead and close this; please feel free to reopen if that is in error.  Thanks for all of the work fixing this!

[2020-10-27 13:12] #721 closed

[2020-10-27 15:30] fujitatomoya commented on #721
@clalancette thanks for checking on this!

[2020-10-28 01:50] #814 closed

[2020-10-28 14:18] ivanpauno commented on #792
This is still failing sometimes, I will increase the number of retries to see if that makes the test less flaky.

[2020-10-28 17:25] #792 closed

[2020-10-29 18:15] ivanpauno commented on #806
I will left this open and marked as `backlog`.
For pushing the modification further, a non-breaking alternative should be implemented.

See https://github.com/ros2/design/pull/299#issuecomment-718931539 for details.

[2020-11-02 21:48] chapulina opened #851 "👩‍🌾 test_node_info_publishers flaky on Windows Release"
It seems to be failing about 1/20 builds:

https://ci.ros2.org/view/nightly/job/nightly_win_rel/1740/testReport/rcl/NodeGraphMultiNodeFixture/test_node_info_publishers/history/

The last 2 failures have been the same:

[code]

[2020-11-02 22:07] chapulina opened #852 "👩‍🌾 test_info_by_topic__rmw_connext_cpp regression on Linux repeated"
The test failed during the latest build, on 2020-11-02:

https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2095/testReport/projectroot/test/test_info_by_topic__rmw_connext_cpp/history/

Failure output:

[code]

and

[code]

[2020-11-03 14:32] ivanpauno commented on #852
DDSDomainParticipant_impl::createI:ERROR: Failed to auto-enable entity

This sounds like a random `rti Connext` bug, I'm not sure we can do something about it.

[2020-11-03 17:27] chapulina commented on #852
The test passed in the latest build.

I think we should keep an eye on it. If it turns out to be an spurious failure, I think we can close this issue. But if it turns out to be flaky and out of our control, I'd suggest disabling the test for Connext until it can be fixed.

[2020-11-03 18:03] chapulina opened #855 "👩‍🌾 Various graph test failures on Windows release"
Many of these failures showed up at the same time during last night's Windows release build, so I'm ticketing them together. Let me know if it would be best to open separate issues for each of them.

## test_graph__rmw_connext_cpp

Seems to have been flaky for a while, but got worse recently (failed 3/4 latest builds):

https://ci.ros2.org/view/nightly/job/nightly_win_rel/1741/testReport/projectro

[2020-11-04 17:47] #851 closed

[2020-11-04 18:05] chapulina opened #856 "👩‍🌾 test_info_by_topic flaky on Linux"
The test is flaky for CycloneDDS on Linux aarch64 (failed 6/24 latest runs):

https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/1398/testReport/projectroot/test/test_info_by_topic__rmw_cyclonedds_cpp/history/

It's also slightly flaky for FastRTPS on aarch64 (failed 1/24 latest runs):

https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/1398/testReport/projectroot

[2020-11-04 18:13] ivanpauno commented on #855
https://github.com/ros2/rcl/pull/854 should have fixed this :crossed_fingers:

[2020-11-04 18:13] #855 closed

[2020-11-05 14:59] fujitatomoya commented on #856
adding extra sleep in [here](https://github.com/ros2/rcl/blob/8a495c0e35a3352d64f0aa5fa5fa46feb326b483/rcl/test/rcl/test_info_by_topic.cpp#L359) would be okay enough, or maybe we can call `wait_for_subscription_to_be_ready` instead.

[2020-11-05 15:24] fujitatomoya commented on #856
https://github.com/ros2/rcl/pull/859 should fix the flaky situation. I tried more than 30 times but i was unable to reproduce this issue.

[2020-11-05 15:25] fujitatomoya commented on #856
@chapulina
CC: @clalancette

friendly ping.

[2020-11-10 02:00] fujitatomoya commented on #856
@chapulina
CC: @clalancette

i think we can close this one, since https://github.com/ros2/rcl/pull/859 is merged.

[2020-11-10 03:01] chapulina commented on #856
Thanks. Closing for now, please reopen if the test starts flaking again.

[2020-11-10 03:01] #856 closed

[2020-11-17 20:15] clalancette commented on #378
It looks like these values were increased a while ago, and we haven't seen this flaky test in a while on the buildfarm.  Closing this out, but feel free to reopen if this is still an issue.

[2020-11-17 20:15] #378 closed

[2020-11-17 20:34] azeey opened #861 "👨‍🌾 TestNodeFixture__rmw_fastrtps_cpp.test_rcl_node_init_with_internal_errors fails on nightly OSX repeated"
This has been failing since https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/2103/testReport/junit/projectroot/test/test_node__rmw_fastrtps_cpp/. Since then it has failed 22 out of the last 30 tests.

<details>

Stacktrace:

[code]
</details>

[2020-11-18 17:04] ThomasRFischer opened #876 "Failed to get trigger guard condition in jump callback"
## Bug report

**Required Info:**

- Operating System:
  -
Ubuntu 18.04.5 LTS
- Installation type:
binaries
- Version or commit hash:
  ROS2 FOXY Development
- DDS implementation:
Cyclone DDS Version 0.7.0 https://github.com/ros2/rmw_cyclonedds
- RMW
ROS 2 RMW for Eclipse Cyclone DDS Version 2.2.0 https://github.com/ros2/rmw

- Client library (if applicable):
  -

#### Steps to reproduce issue
The

[2020-11-18 22:33] clalancette commented on #188
I'm going to close this one out, as it is very stale.  If this is still a problem, we can open a new issue for it.

[2020-11-18 22:33] #188 closed

[2020-11-20 19:29] nuclearsandwich commented on #482
I keep slipping on this task since docs are currently built manually. I won't slip this time.